<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="availableSuppliersEdit">
    <!--<link th:href="@{inspinia_admin/css/plugins/cropper/cropper.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{inspinia_admin/css/plugins/select2/select2.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{inspinia_admin/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet"/>-->
    <link th:href="@{inspinia_admin/css/plugins/ladda/ladda-themeless.min.css}" rel="stylesheet"/>
    <script th:src="@{jquery.koala.js}" type="text/javascript"></script>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>可用供应商列表</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a>系统设置</a>
                </li>
                <li class="active">
                    <strong>可用供应商列表</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="POST" class="form-horizontal">

                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">供应商名称<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="suppliersName" name="suppliersName" type="text" class="form-control"
                                                             maxlength="20" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">供应商级别<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="suppliersLevel" name="suppliersLevel" type="text" class="form-control"
                                                             maxlength="20" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">中单数量<span
                                    style="color:#ed5565;">*</span></label>
                                <label class="col-sm-4 control-label" style="text-align: left">10</label>
                            </div>


                            <div class="hr-line-dashed"/>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="saveBtn" class="btn ladda-button btn-w-m btn-primary" data-style="zoom-in" type="button" onclick="saveAvailableSuppliers(this);">
                                        <span class="ladda-label">保&nbsp;&nbsp;存</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Image cropper -->
    <!--<script th:src="@{inspinia_admin/js/plugins/cropper/cropper.min.js}"></script>-->
    <!-- Data picker -->
    <script th:src="@{99/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{99/js/plugins/ladda/spin.min.js}"></script>
    <script th:src="@{99/js/plugins/ladda/ladda.min.js}"></script>

    <!-- Select2 -->
    <!--<script th:src="@{inspinia_admin/js/plugins/select2/select2.full.min.js}"></script>-->

    <!-- Chosen -->
    <!--<script th:src="@{inspinia_admin/js/plugins/chosen/chosen.jquery.js}"></script>-->
    <script th:src="@{me.js}" type="text/javascript"></script>

    <script type="text/javascript">
        /*<![CDATA[*/
        $("#setting").addClass("active");
        $("#availableSuppliersEdit").addClass("active");

        $('#birthday').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });

        validate('name', 'name', 'validateavailableSuppliersName');
        validate2('mobilePhone', 'mobile', {isEdit: false}, 'validateMobile');
        validate('password', 'password', 'validatePassword');
//        validate('totalLessons', 'integer', 'validateInteger');
        validate('email', 'email', 'validateEmail');


        var saveBtnda;
        function saveAvailableSuppliers(btn) {
            saveBtnda = Ladda.create( btn );
            var roles = [];
            $('input[name="role"]:checked').each(function () {
                roles.push({id: $(this).val().trim()});
            });
            var p = {
                id: $("#id").val().trim(),
//                nick: $("#nick").val().trim(),
                name: $("#name").val().trim(),
                mobilePhone: $("#mobilePhone").val().trim(),
                password: $("#password").val(),
                roleList: roles,
//                totalLessons: $("#totalLessons").val().trim(),

                state: $("input[name='state']:checked").val(),
                gender: $("input[name='gender']:checked").val(),
                email: $("#email").val().trim(),



            };
            var a = JSON.stringify(p);
            $.ajax({
                url: 'saveAvailableSuppliers',
                async: true,
                type: 'POST',
                data: a,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                timeout: 300000,
                beforeSend: function () {
                    saveBtnda.start();
                },
                error: function (result) {
                    alert("通信错误！");
                },
                success: function (data) {
                    if (data.res == undefined) {
                        saveBtnda.stop();
                        for (var p in data) {
                            var tmp = $("#" + data[p].field).parent().next();

                            if (tmp.text() == '') {
                                $("#" + data[p].field + "Form").addClass("has-error")
                                var tmp = $("#" + data[p].field).parent().next();
                                tmp.html(data[p].defaultMessage);
                            }
                        }
                    }else{

                        loadPage("availableSuppliersList",function(){
                            saveBtnda.stop();
                        });
                    }
                }
            });
        }
        /*]]>*/
    </script>
</div>
</html>
