<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="contractEdit">
    
    <link th:href="@{99/css/plugins/ladda/ladda-themeless.min.css}" rel="stylesheet"/>
    <link th:href="@{99/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet"/>
    <script th:src="@{jquery.koala.js}" type="text/javascript"></script>
    <style>
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    </style>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 th:text="${title}"></h2>
            <ol class="breadcrumb">
                <li>
                    首页
                </li>
                <li>
                    业务数据管理
                </li>
                <li class="active">
                    <strong>合同</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content  ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="POST" class="form-horizontal" id="form">
                            <input type="hidden" name="id" id="id" th:value="${contract}?${contract.id}"/>
                            <input type="hidden" name="hiddenCategoryValue" id="hiddenCategoryValue" th:value="${contract}?${contract.category}"/>
                            <input type="hidden" name="hiddenContractPaymentMethodValue" id="hiddenContractPaymentMethodValue" th:value="${contract}?${contract.contractPaymentMethod}"/>
                            <input type="hidden" name="hiddenFirstPartyValue" id="hiddenFirstPartyValue" th:value="${contract}?${contract.firstParty}"/>
                            <input type="hidden" name="hiddenSecondPartyValue" id="hiddenSecondPartyValue" th:value="${contract}?${contract.secondParty}"/>
                            <input type="hidden" name="hiddenProjectIdValue" id="hiddenProjectIdValue" th:value="${contract}?${contract.projectId}"/>

                            <!--暂时注释-->
                            <!--<div class="hr-line-dashed"></div>-->
                            <!--<div class="form-group" id="nameForm">-->
                                <!--<label class="col-sm-2 control-label">合同名称<span-->
                                    <!--style="color:#ed5565;">*</span></label>-->
                                <!--<div class="col-sm-4">-->
                                    <!--<input id="name" name="name" type="text" th:value="${contract}?${contract.name}"-->
                                                             <!--class="form-control" maxlength="200" />-->
                                <!--</div>-->
                                <!--<label class="col-sm-4 control-label" style="text-align: left"></label>-->
                            <!--</div>-->

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="projectNameForm">
                                <label class="col-sm-2 control-label">项目名称<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="projectName" name="projectName" placeholder="请选择项目名称" readonly="readonly" type="text" th:value="${contract}?${contract.projectName}"
                                           class="form-control" maxlength="200" onclick="projectClick();" style="cursor:pointer;"/>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="projectIdForm">
                                <label class="col-sm-2 control-label">项目编号<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="projectId" name="projectId" type="text" readonly="readonly" th:value="${contract}?${contract.projectCode}" th:attr="valueSetID=${contract}?${contract.projectId}"
                                           class="form-control" maxlength="200" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="codeForm">
                                <label class="col-sm-2 control-label">合同编号<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="code" name="code" type="text" readonly="readonly" th:value="${contract}?${contract.code}"
                                           class="form-control" maxlength="200" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="campaignIdForm">
                                <label class="col-sm-2 control-label">市场活动<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="campaignId" name="campaignId" type="text" th:value="${contract}?${contract.campaignName}" th:attr="valueSetID=${contract}?${contract.campaignId}"
                                           class="form-control" maxlength="200" readonly="readonly"/>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="categoryForm">
                                <label class="col-sm-2 control-label">合同类型<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control " name="category" id="category" onchange="categoryClick();">
                                        <option value="" selected="selected">未选择</option>
                                        <option value="C">销售合同</option>
                                        <option value="S">供应商合同-主办方</option>
                                        <option value="D">供应商合同-设计师</option>
                                        <option value="F">供应商合同-工厂</option>
                                        <option value="P">供应商合同-项目经理</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="firstPartyForm">
                                <label class="col-sm-2 control-label">合同甲方<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control " name="firstParty" id="firstParty">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${firstParty.id}" th:text="${firstParty.name}" th:each="firstParty:${firstPartyList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="secondPartyForm">
                                <label class="col-sm-2 control-label">合同乙方<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control " name="secondParty" id="secondParty">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${secondParty.id}" th:text="${secondParty.name}" th:each="secondParty:${secondPartyList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="signDayForm">
                                <label class="col-sm-2 control-label">合同签署日期<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="signDay" name="signDay" type="text" readonly="readonly" th:value="${contract}?${contract.signDay}"
                                           class="form-control" maxlength="200" style="cursor:pointer;"/>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="exhibitionNumberForm">
                                <label class="col-sm-2 control-label">展位号<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="exhibitionNumber" name="exhibitionNumber" type="text" th:value="${contract}?${contract.exhibitionNumber}"
                                                             class="form-control"  oninput="if(value.length>30)value=value.slice(0,0)"/>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="areaForm">
                                <label class="col-sm-2 control-label">面积<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="area" name="area" type="text" th:value="${contract}?${contract.area}"
                                                             class="form-control" maxlength="200" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="amountForm">
                                <label class="col-sm-2 control-label">合同总价<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="amount" name="amount" type="number" th:value="${contract}?${contract.amount}"
                                                             class="form-control" maxlength="200" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="taxCheckBoxForm">
                                <label class="col-sm-2 control-label">开票</label>

                                <div class="col-sm-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" style="margin-top: -2px;" value="0" id="taxCheckBox" name="taxCheckBox" th:checked="${contract}?${contract.billing eq 1}:'false'"
                                               onclick="taxCheckBoxClick(this);"/>
                                    </label>
                                </div>
                            </div>


                            <div id ='taxDIV' hidden="hidden">
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="taxForm">
                                    <label class="col-sm-2 control-label">税</label>
                                    <div class="col-sm-4">
                                        <input id="tax" name="tax" type="text" th:value="${contract}?${contract.tax}"
                                               class="form-control" maxlength="200" readonly="readonly" />
                                    </div>
                                    <label class="col-sm-4 control-label" style="text-align: left"></label>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="contractPaymentMethodForm">
                                <label class="col-sm-2 control-label">付款方式
                                    <span style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control " name="contractPaymentMethod" id="contractPaymentMethod">
                                        <option value="" selected="selected">未选择</option>
                                        <option value="5.5">5.5</option>
                                        <option value="7.3">7.3</option>
                                        <option value="6.4">6.4</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="initialPaymentTimeForm">
                                <label class="col-sm-2 control-label">首付时间<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="initialPaymentTime" name="initialPaymentTime" type="text"  readonly="readonly" th:value="${contract}?${contract.initialPaymentTime}"
                                                             class="form-control" maxlength="200" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="middlePaymentTimeForm">
                                <label class="col-sm-2 control-label">中款时间<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="middlePaymentTime" name="middlePaymentTime" type="text" readonly="readonly" th:value="${contract}?${contract.middlePaymentTime}"
                                                             class="form-control" maxlength="200" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="finalPaymentTimeForm">
                                <label class="col-sm-2 control-label">尾款时间<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <input id="finalPaymentTime" name="finalPaymentTime" type="text"  readonly="readonly" th:value="${contract}?${contract.finalPaymentTime}"
                                                             class="form-control" maxlength="200" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div id="billingInfo">
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="companyForm">
                                    <label class="col-sm-2 control-label">公司名称</label>
                                    <div class="col-sm-4">
                                        <input id="company" name="company" type="text" th:value="${contract}?${contract.company}"
                                                                 class="form-control" maxlength="200" />
                                    </div>
                                    <label class="col-sm-4 control-label" style="text-align: left"></label>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="taxNumberForm">
                                    <label class="col-sm-2 control-label">税号</label>
                                    <div class="col-sm-4">
                                        <input id="taxNumber" name="taxNumber" type="text" th:value="${contract}?${contract.taxNumber}"
                                               class="form-control" maxlength="200" />
                                    </div>
                                    <label class="col-sm-4 control-label" style="text-align: left"></label>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="addressTelephoneForm">
                                    <label class="col-sm-2 control-label">地址电话</label>
                                    <div class="col-sm-4">
                                        <input id="addressTelephone" name="addressTelephone" type="text" th:value="${contract}?${contract.addressTelephone}"
                                               class="form-control" maxlength="200" />
                                    </div>
                                    <label class="col-sm-4 control-label" style="text-align: left"></label>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="bankAccountForm">
                                    <label class="col-sm-2 control-label">银行账号</label>
                                    <div class="col-sm-4">
                                        <input id="bankAccount" name="bankAccount" type="text" th:value="${contract}?${contract.bankAccount}"
                                               class="form-control" maxlength="200" />
                                    </div>
                                    <label class="col-sm-4 control-label" style="text-align: left"></label>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-4">
                                    <input id="remarks" name="remarks" type="text" th:value="${contract}?${contract.remarks}"
                                                             class="form-control" maxlength="15" />
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="saveBtn" class="btn ladda-button btn-w-m btn-primary" data-style="zoom-in" type="button" onclick="saveContract(this);">
                                        <span class="ladda-label">保&nbsp;&nbsp;存</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--项目Modal-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="projectTableModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog " style="width: 880px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 >请选择一个项目</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <table id="projectTable" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>操作</th>
                                        <th>项目名称</th>
                                        <th>项目编号</th>
                                        <th>市场活动</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn ladda-button btn-primary" onclick="chooseProject(this);"><span class="ladda-label">确定</span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Data picker -->
    <script th:src="@{99/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{99/js/plugins/ladda/spin.min.js}"></script>
    <script th:src="@{99/js/plugins/ladda/ladda.min.js}"></script>

     <!--Select2 -->
    <script th:src="@{99/js/plugins/select2/select2.full.min.js}"></script>
    <script th:src="@{99/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:src="@{me.js}" type="text/javascript"></script>


    <script type="text/javascript">
        /*<![CDATA[*/
        $("#contractEdit").addClass("active");
        var format = "yyyy-mm-dd";

        var AListStr = "<option value=\"\" selected=\"selected\">未选择</option>";
        var BListStr = "<option value=\"\" selected=\"selected\">未选择</option>";
        var projectTable = null;
        $(function () {

            if($("#taxCheckBox").is(':checked')){
                $("#taxDIV").show();
            } else {
                $("#taxDIV").hide();
            }


            datepickerInit("signDay",format);
            datepickerInit("initialPaymentTime",format);
            datepickerInit("middlePaymentTime",format);
            datepickerInit("finalPaymentTime",format);

            $('#projectTableModal').on('shown.bs.modal',function(){
                if(projectTable == undefined && projectTable == null){
                    projectTableInit();// 项目table初始化
                }
            })

            // 各种验证
            validateSelect('signDay', 'signDay', 'validateSignDay');
            validate('name', 'name', 'validateContractName');
            validateSelect('code', 'code', 'validateContractCode');
            validateSelect('projectId', 'projectId', 'validateProjectId');
            validateSelect('projectName', 'projectName', 'validateProjectName');
            validateSelect('campaignId', 'campaignId', 'validateCampaignId');
            validate('exhibitionNumber', 'exhibitionNumber', 'validateExhibitionNumber');
            validate('area', 'area', 'validateArea');
//            validate('amount', 'amount', 'validatAemount');
            validateSelect('category', 'category', 'validatCategory');
//            validate('tax', 'tax', 'validatTax');
            validateSelect('contractPaymentMethod', 'contractPaymentMethod', 'validatContractPaymentMethod');
            validateSelect('initialPaymentTime', 'initialPaymentTime', 'validatInitialPaymentTime');
            validateSelect('middlePaymentTime', 'middlePaymentTime', 'validatMiddlePaymentTime');
            validateSelect('finalPaymentTime', 'finalPaymentTime', 'validatFinalPaymentTime');
            validateSelect('firstParty', 'firstParty', 'validatFirstParty');
            validateSelect('secondParty', 'secondParty', 'validatSecondParty');

            // 如果是编辑的话加载甲乙合同并选中
            var hiddenProjectIdValue = $("#hiddenProjectIdValue").val();
            if(hiddenProjectIdValue){
                getABList(hiddenProjectIdValue);
            }

            $("#category option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#hiddenCategoryValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#contractPaymentMethod option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#hiddenContractPaymentMethodValue").val()){
                    $(this).attr("selected",true);
                }
            });



            // 根据合同总价计算税
            $("#amount").koala( {
                delay: 300,
                keyup: function(event){
                    debugger
                    var param = {};
                    param["amount"] = $("#amount").val();
                    var taxCheckBox = $("#taxCheckBox").is(':checked');

                    if(taxCheckBox)vAmount("amount",param,"validatAemount");
                }
            });
            function vAmount(id,param,url){
                $.ajax({
                    url : url,
                    async : true,
                    type : 'GET',
                    data : param,
                    contentType: 'application/json; charset=utf-8',
                    dataType : 'json',
                    timeout : 300000,
                    beforeSend: function () {
                        //spinner.spin(target);
                    },
                    error : function(result) {
//                            alert("通信错误！");
                    },
                    success : function(data) {
                        if(data.res == 0){
                            $("#"+id+"Form").addClass("has-error")
                            $("#"+id).parent().next().html(data.txt);
//                            $("#taxForm").addClass("has-error")
//                            $("#tax").parent().next().html(data.txt);
                            $("#tax").val("");
                        }else{
                            $("#"+id+"Form").removeClass("has-error")
                            $("#"+id).parent().next().html("<i class='fa fa-check' style='color:#21b384;'/>");
                            var amoutval = $("#"+id).val();
                            var res = Math.round(amoutval * 0.06 *100)/100;
                            $("#tax").val(res);
//                            $("#taxForm").removeClass("has-error")
//                            $("#tax").parent().next().html("<i class='fa fa-check' style='color:#21b384;'/>");
                        }
                    }
                });
            }

            billinfoCheck();
        })

        // 开票
        function taxCheckBoxClick(object) {
            debugger
            if($(object).is(':checked')){
                $(object).val("1")
                $("#taxDIV").show();
            }else{
                $("#taxDIV").hide();
                $(object).val("0")
            }

        }

        function datepickerInit(id,format) {
            $('#'+id).datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: format,
                language: 'cn',
            });
        }

        // 开票信息check非销售合同的时候隐藏掉
        function billinfoCheck() {
            var category = $("#category").val();
            if(category!="C"){
                $("#billingInfo").hide();
                $("#company").val("");
                $("#taxNumber").val("");
                $("#addressTelephone").val("");
                $("#bankAccount").val("");
            }else {
                $("#billingInfo").show();
            }
        }

        $("#category").change(function () {
            billinfoCheck();
        })


        /***
         *
         * 项目相关
         *
         **/
        function projectTableInit() {
            projectTable = $('#projectTable').DataTable({
                "sScrollX": true,
                "ajax": {
                    "url": "findProject",
                    "dataType": 'json',
                    "type": "POST",
                    contentType: 'application/json; charset=utf-8',

                    "data": function (d) {
                        var p = {};
                        p.draw = d.draw;
                        p.length = d.length;
                        p.start = d.start;
                        p.search = d.search.value;
                        var a = JSON.stringify(p);
                        return a;
                    }
                },

                "columns": [
                    {
                        "data": "id", "width": "50px",
                        "render": function (data, type, row) {
                            var u = "";
                            u =  "<input type=\"radio\" style=\"cursor:pointer;\" name='project' value='" + row.id + "' proName='" + row.name + "' proCode='" + row.code + "' " +
                                "proCampaignId='" + row.campaignId + "' proCampaignName='" + row.campaignName + "'/>";
                            return u;

                        },
                    },

                    {"data": "name", "width": "280px"},
                    {"data": "code", "width": "150px"},
                    {"data": "campaignName", "width": "280px"},
                ]
                , language: {
                    lengthMenu: '每页显示 <select class="form-control input-sm">'
                    + '<option value="20">20</option>'
                    + '<option value="40">40</option>'
                    + '<option value="100">100</option>'
                    + '</select> 个项目'
                    ,
                    processing: "载入中 ...",//处理页面数据的时候的显示
                    paginate: {//分页的样式文本内容。
                        previous: "上一页",
                        next: "下一页",
                        first: "第一页",
                        last: "最后一页"
                    },
                    "sSearch": "搜索",
                    zeroRecords: "没有项目",//table tbody内容为空时，tbody的内容。
                    //下面三者构成了总体的左下角的内容。
                    info: "当前显示第_START_到第_END_个项目 ，共_PAGES_ 页 ",//左下角的信息显示，大写的词为关键字。
                    infoEmpty: "0个项目",//筛选为空时左下角的显示。
                    infoFiltered: ""//筛选之后的左下角筛选提示(另一个是分页信息显示，在上面的info中已经设置，所以可以不显示)，
                }
                , "lengthChange": true
                , "bFilter": true //搜索栏
                , "bAutoWidth": true  //自适应宽度
                , "sPaginationType": "full_numbers" //分页，一共两种样式，full_numbers和two_button(默认)
                , "bJQueryUI": false //开关，是否启用JQueryUI风格
                , "bSort": false
                , "processing": true
                , "serverSide": true
                , "iDisplayLength": 20 //默认显示的记录数
            });
        }

        // 选择一个项目
        function chooseProject() {
            var project=document.getElementsByName("project");
            var projectId = "";
            $.each(project, function(i,v) {
                if(v.checked == true){
                    $("#projectId").val($(this).attr("proCode")); // 项目编号
                    $("#projectId").attr("valueSetID",$(this).val()); // 项目编号 ID

                    $("#projectName").val($(this).attr("proName")); // 项目名称

                    $("#campaignId").val($(this).attr("proCampaignName")); // 活动名
                    $("#campaignId").attr("valueSetID",$(this).attr("proCampaignId"));

                    projectId =  $("#projectId").attr("valueSetID");
                }
            });
            $("#projectId").change();
            $("#projectName").change();
            $("#campaignId").change();
            $("#code").val("");
            $("#code").change();
            $('#projectTableModal').modal('hide');
            getABList(projectId);
            $("#category option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",true);
                }
            });
            $("#category").change();
        }

        //甲方乙方列表
        function getABList(projectId) {
            if (projectId){
                $("#firstParty").empty();
                $("#secondParty").empty();
                var p = {
                    projectId: projectId
                };
//                var a = JSON.stringify(p);
                $.ajax({
                    url: '/getABList',
                    async: true,
                    type: 'POST',
                    data: p,
//                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    timeout: 300000,
                    beforeSend: function () {
                    },
                    error: function (result) {
                        swal("操作失败", "通信错误!", "error");
                        $("#firstParty").html(ABListStr);
                        $("#secondParty").html(ABListStr);
                    },
                    success: function (data) {
                        if (data.ABList != "0"){
                            var hiddenFirstPartyValue = $("#hiddenFirstPartyValue").val();
                            var hiddenSecondPartyValue = $("#hiddenSecondPartyValue").val();
                            debugger
                            for (var a= 0;a < data.ABList.length;a++) {
                                var ab = data.ABList[a];
                                var stringBuilder = [];
                                stringBuilder.push("<option ");
                                stringBuilder.push(" value=");
                                stringBuilder.push("'");
                                stringBuilder.push(ab.id);
                                stringBuilder.push("'");
                                stringBuilder.push(ab.id == hiddenFirstPartyValue?"selected='selected'":null);
                                stringBuilder.push(">");
                                stringBuilder.push(ab.name);
                                stringBuilder.push("</option>");
                                AListStr += stringBuilder.join("");
                            }
                            for (var a= 0;a < data.ABList.length;a++) {
                                var ab = data.ABList[a];
                                var stringBuilder = [];
                                stringBuilder.push("<option ");
                                stringBuilder.push(" value=");
                                stringBuilder.push("'");
                                stringBuilder.push(ab.id);
                                stringBuilder.push("'");
                                stringBuilder.push(ab.id == hiddenSecondPartyValue?"selected='selected'":null);
                                stringBuilder.push(">");
                                stringBuilder.push(ab.name);
                                stringBuilder.push("</option>");
                                BListStr += stringBuilder.join("");
                            }
                        }
                        $("#firstParty").html(AListStr);
                        $("#secondParty").html(BListStr);
                    }
                });
            }
        }
        
        // show项目table
        function projectClick() {
            $('#projectTableModal').modal('show');
        }

        /***
         *
         * 合同分类
         *
         **/
        function categoryClick() {
            var projectCode = $("#projectId").val();
            var proName = $("#projectName").val();
            var type = $("#category").val();

            if (projectCode && proName && type){
                var p = {
                    code: projectCode,
                    type:type
                };
                var a = JSON.stringify(p);
                $.ajax({
                    url: '/getContractCode',
                    async: true,
                    type: 'POST',
                    data: a,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    timeout: 300000,
                    beforeSend: function () {
                    },
                    error: function (result) {
                        swal("操作失败", "通信错误!", "error");
                    },
                    success: function (data) {
                        $("#code").val(data.code);
                        $("#code").change();
                    }
                });
            }else {
                $("#code").val("");
                $("#code").change();
            }
        }

        var saveBtnda;
        function saveContract(btn) {
            saveBtnda = Ladda.create( btn );

            var p = {
                id: $("#id").val().trim(),
                signDay: $("#signDay").val().trim(),
                name: null,//$("#name").val().trim(),
                code: $("#code").val().trim(),
                projectId: $("#projectId").attr("valueSetID"),
                projectName:$("#projectName").val(),
                campaignId: $("#campaignId").attr("valueSetID"),
                exhibitionNumber: $("#exhibitionNumber").val().trim(),
                area: $("#area").val().trim(),
                amount: $("#amount").val().trim(),
                category: $("#category").val().trim(),
                tax: $("#taxCheckBox").is(':checked')?$("#tax").val().trim():null,
                billing:$('#taxCheckBox').val(),
                contractPaymentMethod: $("#contractPaymentMethod").val().trim(),
                initialPaymentTime: $("#initialPaymentTime").val().trim(),
                middlePaymentTime: $("#middlePaymentTime").val().trim(),
                finalPaymentTime: $("#finalPaymentTime").val().trim(),
                company: $("#company").val().trim(),
                taxNumber: $("#taxNumber").val().trim(),
                addressTelephone: $("#addressTelephone").val().trim(),
                bankAccount: $("#bankAccount").val().trim(),
                firstParty: $("#firstParty").val().trim(),
                secondParty: $("#secondParty").val().trim(),
                remarks: $("#remarks").val().trim(),
            };
            var a = JSON.stringify(p);
            $.ajax({
                url: 'saveContract',
                async: true,
                type: 'POST',
                data: a,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                timeout: 300000,
                beforeSend: function () {
                    saveBtnda.start();
                },
                error: function (result) {
                    swal("操作失败", "通信错误!", "error");
                    saveBtnda.stop();
                },
                success: function (data) {
                    if (data.res == undefined) {
                        saveBtnda.stop();
                        for (var p in data) {
                            var tmp = $("#" + data[p].field).parent().next();

                            if (tmp.text() == '') {
                                $("#" + data[p].field + "Form").addClass("has-error")
                                var tmp = $("#" + data[p].field).parent().next();
                                tmp.html(data[p].defaultMessage);
                            }
                        }
                    }else if(data.res == 0){
                        saveBtnda.stop();
                        swal("操作失败", data.txt, "error");
                    }else{
                        toastr["success"]('保存成功!');
                        loadPage("contractList",function(){
                            saveBtnda.stop();
                        });
                    }
                }
            });
        }
        /*]]>*/
    </script>
</div>
</html>
