<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="contractEdit">
    <!--<link th:href="@{inspinia_admin/css/plugins/cropper/cropper.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{inspinia_admin/css/plugins/select2/select2.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{inspinia_admin/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet"/>-->
    <link th:href="@{99/css/plugins/ladda/ladda-themeless.min.css}" rel="stylesheet"/>
    <script th:src="@{jquery.koala.js}" type="text/javascript"></script>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 th:text="${title}"></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a>业务数据管理</a>
                </li>
                <li class="active">
                    <strong>合同管理</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="POST" class="form-horizontal">
                            <!--<input type="hidden" name="id" id="id" th:value="${user}?${user.id}"/>-->
                            <div class="form-group" id="signDayForm"><label class="col-sm-2 control-label">合同签署日期<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="signDay" name="signDay" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="nameForm"><label class="col-sm-2 control-label">合同名称<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="name" name="name" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="codeForm"><label class="col-sm-2 control-label">合同编码<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="code" name="code" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="projectIdForm"><label class="col-sm-2 control-label">项目编号<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="projectId" name="projectId" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="productNameForm"><label class="col-sm-2 control-label">项目名称<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="productName" name="productName" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="campaignIdForm"><label class="col-sm-2 control-label">市场活动<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="campaignId" name="campaignId" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="exhibitionNumberForm"><label class="col-sm-2 control-label">展位号<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="exhibitionNumber" name="exhibitionNumber" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="areaForm"><label class="col-sm-2 control-label">面积<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="area" name="area" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="amountForm"><label class="col-sm-2 control-label">合同总价<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="amount" name="amount" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">合同分类<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="category" id="category">
                                        <option value="" selected="selected">未选择</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="taxlForm"><label class="col-sm-2 control-label">税<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="tax" name="tax" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">付款方式<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="paymentMethod" id="paymentMethod">
                                        <option value="" selected="selected">未选择</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="initialPaymentTimeForm">
                                <label class="col-sm-2 control-label">首付时间<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="initialPaymentTime" name="initialPaymentTime" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="middlePaymentTimeForm">
                                <label class="col-sm-2 control-label">中款时间<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="middlePaymentTime" name="middlePaymentTime" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="finalPaymentTimeForm">
                                <label class="col-sm-2 control-label">尾款时间<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="finalPaymentTime" name="finalPaymentTime" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="billingInfoForm"><label class="col-sm-2 control-label">开票信息<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="billingInfo" name="billingInfo" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="firstPartyForm">
                                <label class="col-sm-2 control-label">合同甲方<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="firstParty" id="firstParty">
                                        <option value="" selected="selected">未选择</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="secondPartyForm">
                                <label class="col-sm-2 control-label">合同乙方<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="secondParty" id="secondParty">
                                        <option value="" selected="selected">未选择</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">款项类型<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="moneyType">
                                        <option value="" selected="selected">未选择</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">支付方式<span
                                    style="color:#ed5565;">*</span></label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="paymentType">
                                    <option value="" selected="selected">未选择</option>
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">成本中心<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="costCenter">
                                        <option value="" selected="selected">未选择</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">付款时间<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="payDate" name="payDate" type="text"
                                                             class="form-control" maxlength="200" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">经办人</label>
                                <div class="col-sm-4"><input id="handler" name="handler" type="text"
                                                             class="form-control" maxlength="15" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">变更原因</label>
                                <div class="col-sm-4"><input id="changeReason" name="changeReason" type="text"
                                                             class="form-control" maxlength="15" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-4"><input id="remarks" name="remarks" type="text"
                                                             class="form-control" maxlength="15" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="saveBtn" class="btn ladda-button btn-w-m btn-primary" data-style="zoom-in" type="button" onclick="saveUser(this);">
                                        <span class="ladda-label">保&nbsp;&nbsp;存</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Image cropper -->
    <!--<script th:src="@{inspinia_admin/js/plugins/cropper/cropper.min.js}"></script>-->
    <!-- Data picker -->
    <script th:src="@{99/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{99/js/plugins/ladda/spin.min.js}"></script>
    <script th:src="@{99/js/plugins/ladda/ladda.min.js}"></script>

    <!-- Select2 -->
    <!--<script th:src="@{inspinia_admin/js/plugins/select2/select2.full.min.js}"></script>-->

    <!-- Chosen -->
    <!--<script th:src="@{inspinia_admin/js/plugins/chosen/chosen.jquery.js}"></script>-->
    <script th:src="@{me.js}" type="text/javascript"></script>

    <script type="text/javascript">
        /*<![CDATA[*/
        $("#setting").addClass("active");
        $("#userEdit").addClass("active");

        $('#startDate').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });

        $('#endDate').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });

        $('#firstDate').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });

        $('#middleDate').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });

        $('#payDate').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });


        validate('name', 'name', 'validateUserName');
        validate2('mobilePhone', 'mobile', {isEdit: false}, 'validateMobile');
        validate('password', 'password', 'validatePassword');
        //        validate('totalLessons', 'integer', 'validateInteger');
        validate('email', 'email', 'validateEmail');


        /*var $image = $(".image-crop > img")
         $($image).cropper({
         aspectRatio: 16 / 16,
         preview: ".img-preview",
         done: function (data) {

         }
         });

         var $inputImage = $("#inputImage");
         if (window.FileReader) {
         $inputImage.change(function () {
         var fileReader = new FileReader(),
         files = this.files,
         file;

         if (!files.length) {
         return;
         }

         file = files[0];

         if (/^image\/\w+$/.test(file.type)) {
         fileReader.readAsDataURL(file);
         fileReader.onload = function () {
         $inputImage.val("");
         $image.cropper("reset", true).cropper("replace", this.result);
         };
         } else {
         showMessage("请选择一个用于头像的图像");
         }
         });
         } else {
         $inputImage.addClass("hide");
         }

         $('.chosen-select').chosen({width: "100%"});

         $("#download").click(function () {
         window.open($image.cropper("getDataURL"));
         });

         $("#zoomIn").click(function () {
         $image.cropper("zoom", 0.1);
         });

         $("#zoomOut").click(function () {
         $image.cropper("zoom", -0.1);
         });

         $("#rotateLeft").click(function () {
         $image.cropper("rotate", 45);
         });

         $("#rotateRight").click(function () {
         $image.cropper("rotate", -45);
         });

         $("#setDrag").click(function () {
         $image.cropper("setDragMode", "crop");
         });*/

        var saveBtnda;
        function saveUser(btn) {
            saveBtnda = Ladda.create( btn );
            var roles = [];
            $('input[name="role"]:checked').each(function () {
                roles.push({id: $(this).val().trim()});
            });
            var p = {
                id: $("#id").val().trim(),
//                nick: $("#nick").val().trim(),
                name: $("#name").val().trim(),
                mobilePhone: $("#mobilePhone").val().trim(),
                password: $("#password").val(),
                roleList: roles,
//                totalLessons: $("#totalLessons").val().trim(),

                state: $("input[name='state']:checked").val(),
                gender: $("input[name='gender']:checked").val(),
                email: $("#email").val().trim(),



            };
            var a = JSON.stringify(p);
            $.ajax({
                url: 'saveUser',
                async: true,
                type: 'POST',
                data: a,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                timeout: 300000,
                beforeSend: function () {
                    saveBtnda.start();
                },
                error: function (result) {
                    alert("通信错误！");
                },
                success: function (data) {
                    if (data.res == undefined) {
                        saveBtnda.stop();
                        for (var p in data) {
                            var tmp = $("#" + data[p].field).parent().next();

                            if (tmp.text() == '') {
                                $("#" + data[p].field + "Form").addClass("has-error")
                                var tmp = $("#" + data[p].field).parent().next();
                                tmp.html(data[p].defaultMessage);
                            }
                        }
                    }else{

                        loadPage("userList",function(){
                            saveBtnda.stop();
                        });
                    }
                }
            });
        }
        /*]]>*/
    </script>
</div>
</html>
