<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="customerEdit">
    <link th:href="@{99/css/plugins/ladda/ladda-themeless.min.css}" rel="stylesheet"/>
    <link th:href="@{99/css/plugins/dropzone/dropzone.css}" rel="stylesheet"/>
    <link th:href="@{99/css/plugins/area/chosen.min.css}" rel="stylesheet"/>
    <link th:href="@{99/css/style.css}" rel="stylesheet"/>
    <script th:src="@{jquery.koala.js}" type="text/javascript"></script>
    <style type="text/css">
        .contactHeight{
            height: 34px;
        }
        .contactStyle{
            width:14%;float: left;position: relative;padding-left: 15px;padding-right: 15px;
        }
    </style>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 th:text="${title}"></h2>
            <ol class="breadcrumb">
                <li>
                    首页
                </li>
                <li>
                   主数据管理
                </li>
                <li class="active">
                    <strong>客户</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content  ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="POST" class="form-horizontal">
                            <input type="hidden" name="id" id="id" th:value="${customer}?${customer.id}"/>
                            <input type="hidden" name="selectSourceValue" id="selectSourceValue" th:value="${customer}?${customer.source}"/>
                            <input type="hidden" name="selectIndustryValue" id="selectIndustryValue" th:value="${customer}?${customer.industry}"/>
                            <input type="hidden" name="selectNatureValue" id="selectNatureValue" th:value="${customer}?${customer.nature}"/>
                            <input type="hidden" name="selectLevelValue" id="selectLevelValue" th:value="${customer}?${customer.level}"/>
                            <input type="hidden" name="selectCountryValue" id="selectCountryValue" th:value="${customer}?${customer.country}"/>
                            <input type="hidden" name="selectProvinceValue" id="selectProvinceValue" th:value="${customer}?${customer.province}"/>
                            <input type="hidden" name="selectCityValue" id="selectCityValue" th:value="${customer}?${customer.city}"/>
                            <input type="hidden" name="selectRegionValue" id="selectRegionValue" th:value="${customer}?${customer.region}"/>
                            <input type="hidden" name="selectphotoValue" id="selectphotoValue" th:value="${customer}?${customer.photo}"/>

                            <div class="form-group" id="sourceForm"><label class="col-sm-2 control-label">客户来源<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="source" id="source">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${source.id}" th:text="${source.value}" th:each="source:${source}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="nameForm"><label class="col-sm-2 control-label">企业名称<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="name" name="name" type="text" class="form-control"
                                                             maxlength="200" th:value="${customer}?${customer.name}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--<div class="form-group" id="companyIdForm"><label class="col-sm-2 control-label">企业ID<span-->
                            <!--style="color:#ed5565;">*</span></label>-->
                            <!--<div class="col-sm-4"><input id="companyId" name="companyId" type="text"-->
                            <!--class="form-control" maxlength="15"  th:value="${customer}?${customer.companyId}"/></div>-->
                            <!--<label class="col-sm-4 control-label" style="text-align: left"></label>-->
                            <!--</div>-->
                            <!--<div class="hr-line-dashed"></div>-->
                            <div class="form-group" id="industryForm"><label class="col-sm-2 control-label">所属行业<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="industry" id="industry">
                                        <option value="">未选择</option>
                                        <option th:value="${industryList.id}" th:text="${industryList.value}" th:each="industryList:${industryList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="natureForm"><label class="col-sm-2 control-label">企业性质<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="nature" id="nature">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${natureList.id}" th:text="${natureList.value}" th:each="natureList:${natureList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <!--<div class="hr-line-dashed"></div>
                            <div class="form-group" id="totalLessonsForm"><label
                                    class="col-sm-2 control-label">总购买课时</label>
                                <div class="col-sm-4"><input id="totalLessons" name="totalLessons" type="text"
                                                             class="form-control" maxlength="5"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>-->

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="countryForm">
                                <label class="col-sm-2 control-label">国家<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control location" name="country" id="country">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="provinceForm">
                                <label class="col-sm-2 control-label">省</label>
                                <div class="col-sm-4">
                                    <select class="form-control location" name="province" id="province" disabled="disabled">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="cityForm">
                                <label class="col-sm-2 control-label">城市</label>
                                <div class="col-sm-4">
                                    <select class="form-control location" name="city" id="city" disabled="disabled">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="regionForm">
                                <label class="col-sm-2 control-label">区域</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="region" id="region" disabled="disabled">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="addressForm">
                                <label class="col-sm-2 control-label">地址</label>
                                <div class="col-sm-4"><input id="address" name="address" type="text"
                                                             class="form-control" maxlength="100" th:value="${customer}?${customer.address}" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="levelForm">
                                <label class="col-sm-2 control-label">平台等级<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="level" id="level">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${levelList.value}" th:text="${levelList.value}" th:each="levelList:${levelList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" id="contactForm">联系人</label>
                                <div class="col-sm-10" id="contactList">
                                    <div class="row" th:if="${#lists.isEmpty(customer.contactList)}">

                                        <div class="contactStyle">
                                            <div id="name0Form">
                                                <label class="control-label">姓名</label>
                                                <div>
                                                    <input type="text" name="name" id="name0" class="form-control input-sm contactHeight" maxlength="30"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle">
                                            <div id="mobilePhone0Form">
                                                <label class="control-label">手机</label>
                                                <div>
                                                    <input type="text" oninput="if(value.length>11)value=value.slice(0,11)" name="mobilePhone" id="mobilePhone0" class="form-control input-sm contactHeight" maxlength="30"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>

                                        <div class="contactStyle">
                                            <div id="position0Form">
                                                <label class="control-label">职位</label>
                                                <div>
                                                    <select class="form-control input-sm" style="height: 34px"  name="position" id="position0" >
                                                        <option value="" selected="selected">未选择</option>
                                                        <option th:value="${position.id}" th:text="${position.value}" th:each="position : ${position}"></option>
                                                    </select>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle">
                                            <div id="email0Form">
                                                <label class="control-label">邮箱</label>
                                                <div>
                                                    <input type="text" name="email" id="email0" class="form-control input-sm contactHeight" maxlength="50"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>

                                        <div class="contactStyle">
                                            <div id="qqForm">
                                                <label class="control-label">QQ</label>
                                                <div>
                                                    <input type="text" name="qq" id="qq" class="form-control input-sm contactHeight" maxlength="50" style="min-width:100px"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>

                                        <div class="contactStyle">
                                            <div id="telForm">
                                                <label class="control-label">座机</label>
                                                <div>
                                                    <input type="text" name="tel" id="tel" class="form-control input-sm contactHeight" maxlength="50" style="min-width:100px"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle" >
                                            <div>
                                                <label class="control-label" style="color: white">增加</label>
                                                <div>
                                                    <button onclick="addLi()" type="button" id="addordel0"  class="btn ladda-button btn-primary">增&nbsp;&nbsp;加</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" th:unless="${#lists.isEmpty(customer.contactList)}" th:each="contact,terStat : ${customer.contactList}">
                                        <div class="contactStyle">
                                            <div  th:attr="id='name'+${terStat.index}+'Form'">

                                                <label class="control-label" th:if="${terStat.first}">姓名</label>
                                                <div>
                                                    <input type="text" th:attr="id='name'+${terStat.index}, name='name'" class="form-control input-sm contactHeight" maxlength="20" th:value="${contact.name}"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle">
                                            <div th:attr="id='mobilePhone'+${terStat.index}+'Form'">
                                                <label class="control-label" th:if="${terStat.first}">手机</label>
                                                <div>
                                                    <input type="text" oninput="if(value.length>11)value=value.slice(0,11)"  th:attr="id='mobilePhone'+${terStat.index}, name='mobilePhone'" class="form-control input-sm contactHeight" maxlength="20" th:value="${contact.mobilePhone}"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>

                                        <div class="contactStyle">
                                            <div th:attr="id='position'+${terStat.index}+'Form'">
                                                <label class="control-label" th:if="${terStat.first}">职位</label>
                                                <div>
                                                    <select class="form-control location" th:attr="id='position'+${terStat.index}, name='position'" >
                                                        <option value="" selected="selected">未选择</option>
                                                        <option th:value="${position.id}" th:text="${position.value}" th:each="position : ${position}" th:selected="${position.id==contact.position?'selected':'false'}"></option>
                                                    </select>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle">
                                            <div th:attr="id='email'+${terStat.index}+'Form'">
                                                <label class="control-label" th:if="${terStat.first}">邮箱</label>
                                                <div>
                                                    <input type="text" th:attr="id='email'+${terStat.index}, name='email'" class="form-control input-sm contactHeight" maxlength="50" th:value="${contact.email}"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle">
                                            <div th:attr="id='qq'+${terStat.index}+'Form'">
                                                <label class="control-label" th:if="${terStat.first}">QQ</label>
                                                <div>
                                                    <input type="text" th:attr="id='qq'+${terStat.index}, name='qq'" class="form-control input-sm contactHeight" maxlength="50" th:value="${contact.qq}"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle">
                                            <div th:attr="id='tel'+${terStat.index}+'Form'">
                                                <label class="control-label" th:if="${terStat.first}">座机</label>
                                                <div>
                                                    <input type="text" th:attr="id='tel'+${terStat.index}, name='tel'" class="form-control input-sm contactHeight" maxlength="50" th:value="${contact.tel}"/>
                                                </div>
                                                <label class=" control-label" style="text-align: left"></label>
                                            </div>
                                        </div>
                                        <div class="contactStyle" th:if="${terStat.first}" >
                                            <div>
                                                <label class="control-label" style="color: white">增加</label>
                                                <div>
                                                    <button onclick="addLi()" type="button" th:attr="id='addordel'+${terStat.index}" class="btn ladda-button btn-primary">增&nbsp;&nbsp;加</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contactStyle" th:unless="${terStat.first}">
                                            <button onclick="delBtnData(this)" type="button" th:attr="id='addordel'+${terStat.index}" class="btn ladda-button btn-primary">删&nbsp;&nbsp;除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="photoForm">
                                <label class="col-sm-2 control-label">客户照片</label>
                                <div class="col-sm-6 dropzone" id="photo">
                                    <div class="am-text-success dz-message row" >
                                      点击此处添加图片
                                    </div>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-4">
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s1" value="1" th:checked="${customer.state}?${customer.state eq 1}:'true'"/>
                                        <label for="s1">
                                            可用
                                        </label>
                                    </div>
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s3" value="3" th:checked="${customer.state}?${customer.state eq 3}"/>
                                        <label for="s3">
                                            禁用
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"/>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="saveBtn" class="btn ladda-button btn-w-m btn-primary" data-style="zoom-in" type="button" onclick="saveCustomer(this);">
                                        <span class="ladda-label">保&nbsp;&nbsp;存</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Image cropper -->
    <!--<script th:src="@{inspinia_admin/js/plugins/cropper/cropper.min.js}"></script>-->
    <!-- Data picker -->
    <script th:src="@{99/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{99/js/plugins/ladda/spin.min.js}"></script>
    <script th:src="@{99/js/plugins/ladda/ladda.min.js}"></script>
    <script th:src="@{99/js/plugins/dropzone/dropzone.js}"></script>
    <script th:src="@{99/js/plugins/area/chosen.jquery.min.js}"></script>
    <script th:src="@{99/js/plugins/area/area_chs.js}"></script>
    <script th:src="@{99/js/plugins/area/area.js}"></script>

    <!-- Select2 -->
    <!--<script th:src="@{inspinia_admin/js/plugins/select2/select2.full.min.js}"></script>-->

    <!-- Chosen -->
    <!--<script th:src="@{inspinia_admin/js/plugins/chosen/chosen.jquery.js}"></script>-->
    <script th:src="@{me.js}" type="text/javascript"></script>
    <script type="text/javascript">
        /*<![CDATA[*/

        var areaObj = [];
        function initLocation(e){
            var a = 0;
            for (var m in e) {
                areaObj[a] = e[m];
                var b = 0;
                for (var n in e[m]) {
                    areaObj[a][b++] = e[m][n];
                }
                a++;
            }
        }
        _init_area();
        /*]]>*/
    </script>
    <script th:src="@{99/js/plugins/area/location_chs.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var position =[[${position }]];
        /*]]>*/
    </script>

    <script type="text/javascript">
        /*<![CDATA[*/
        //创建li标签，包含显示姓名，邮箱，电话号码及删除按钮
        function addLi() {
            var total = $("#contactList").children().length;
            var row =  "<div class='row'><div class='contactStyle'>"
                +" <div id='name"+total+ "Form'>"
                +" <div>"
                +" <input type='text' name='name' id='name"+total+ "' class='form-control input-sm contactHeight' maxlength='20'/>"
                +" </div>"
                +" <label class=' control-label' style='text-align: left'></label>"
                +" </div>"
                +" </div>"
                +" <div class='contactStyle'>"
                +" <div id='mobilePhone"+total+ "Form'>"
                +" <div>"
                +" <input type='text' name='mobilePhone' id='mobilePhone"+total+ "' class='form-control input-sm contactHeight' maxlength='20'/>"
                +" </div>"
                +" <label class=' control-label' style='text-align: left'></label>"
                +" </div>"
                +" </div>"
                +" <div class='contactStyle'>"
                +" <div id='position"+total+ "Form'>"
                +" <div>"
                +" <select class='form-control location' name='position' id='position"+total+ "' >"
                +" </select>"
                +" </div>"
                +" <label class=' control-label' style='text-align: left'></label>"
                +" </div>"
                +" </div>"
                +" <div class='contactStyle'>"
                +" <div id='email"+total+ "Form'>"
                +" <div>"
                +" <input type='text' name='email' id='email"+total+ "' class='form-control input-sm contactHeight' maxlength='50'/>"
                +" </div>"
                +" <label class=' control-label' style='text-align: left'></label>"
                +" </div>"
                +" </div>"

                +" <div class='contactStyle'>"
                +" <div id='qq"+total+ "Form'>"
                +" <div>"
                +" <input type='text' name='qq' id='qq"+total+ "' class='form-control input-sm contactHeight' maxlength='50'/>"
                +" </div>"
                +" <label class=' control-label' style='text-align: left'></label>"
                +" </div>"
                +" </div>"

                +" <div class='contactStyle'>"
                +" <div id='tel"+total+ "Form'>"
                +" <div>"
                +" <input type='text' name='tel' id='tel"+total+ "' class='form-control input-sm contactHeight' maxlength='50'/>"
                +" </div>"
                +" <label class=' control-label' style='text-align: left'></label>"
                +" </div>"
                +" </div>"

                +" <div class='contactStyle'><button onclick='delBtnData(this)' id='addordel"+total+ "'  type='button' class='btn ladda-button btn-primary'>删&nbsp;&nbsp;除</button></div></div>";
            $("#contactList").append(row);
            addTagListOption("position"+total);

//            validate("name"+total,"name","validateUsername");
            validate2('mobilePhone'+total, 'mobile', {isEdit: false}, 'validateMobile');
            validateSelect('position'+total,'position','validatePosition');
            validate('email'+total, 'email', 'validateEmail');
            validate('qq'+total, 'qq', 'validateQq');
            validate('tel'+total, 'tel', 'validateTel');
        }

        function addTagListOption(id){
            var obj = $('#'+id);
            obj.append("<option value='' selected='selected'>未选择</option>");
            for(var i= 0; i < position.length; i++){
                obj.append("<option value='"+position[i].id+"'>"+position[i].value+"</option>");
            }
        }

        //为姓名或邮箱等添加span标签，好设置样式
        function addSpan(li,text){
            var span_1=document.createElement("span");
            span_1.innerHTML=text;
            li.appendChild(span_1);
        }

        //为删除按钮添加删除节点功能
        function delBtnData(obj){
            $(obj).parent().parent().remove();
            updateId();
        }

        function updateId() {
            $("#contactList > div").each(function(index){
                $(this).find($("div[id^='name']")).attr("id","name"+index+"Form");
                $(this).find($("input[id^='name']")).attr("id","name"+index);

                $(this).find($("div[id^='mobilePhone']")).attr("id","mobilePhone"+index+"Form");
                $(this).find($("input[id^='mobilePhone']")).attr("id","mobilePhone"+index);

                $(this).find($("div[id^='position']")).attr("id","position"+index+"Form");
                $(this).find($("select[id^='position']")).attr("id","position"+index);

                $(this).find($("div[id^='email']")).attr("id","email"+index+"Form");
                $(this).find($("input[id^='email']")).attr("id","email"+index);
            })
        }

        var country = '<option value="" selected="selected">未选择</option>';
        for (var a=0;a<=_areaList.length-1;a++) {
            var objContry = _areaList[a];
            country += '<option value="'+objContry+'" a="'+(a+1)+'">'+objContry+'</option>';
        }
        $("#country").html(country);
        $("#country").change();

        var photolist=[];
        var delPhotoList=[];
        var previewTemplate = "<div class=\"dz-preview dz-file-preview\" onclick='showPicture(this)'>\n  " +
            "  <div class=\"dz-details\">\n" +
            "  </div>\n" +
            "<div class=\"dz-image\"><img data-dz-thumbnail style='width: 120px;height: 120px;'/></div>\n  " +
            "<div class=\"dz-progress\"><span class=\"dz-upload\" data-dz-uploadprogress></span></div>\n  " +
            "<div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n  " +
            "<div class=\"dz-success-mark\">\n    " +
            "</div>\n</div>";

        $(function () {
            $("#country").change(function(){
//                if($("#country").val()=="中国"){
//                    validateSelect('province', 'province', 'validateProvince');
//                    validateSelect('city', 'city', 'validateCity');
//                    validateSelect('region', 'region', 'validateRegion');
//                }
                if($(this).val()=="中国"){
                    $("#province").attr("disabled",false);
                    $("#city").attr("disabled",false);
                    $("#region").attr("disabled",false);
                }else{
                    $("#provinceForm").removeClass("has-error");
                    $("#province" ).parent().next().html("");
                    $("#cityForm").removeClass("has-error");
                    $("#city" ).parent().next().html("");
                    $("#regionForm").removeClass("has-error");
                    $("#region" ).parent().next().html("");
                    $("#province ").get(0).selectedIndex=0;
                    $("#province").attr("disabled",true);
                    $("#city").attr("disabled",true);
                    $("#city ").get(0).selectedIndex=0;
                    $("#region").attr("disabled",true);
                    $("#region ").get(0).selectedIndex=0;
                }
            });

            $("#source option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectSourceValue").val()){
                    $(this).attr("selected",true);
                }
            });
            $("#country option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectCountryValue").val()){
                    $(this).attr("selected",true);
                }
            });

            if ($("#country").val()=="中国"){
                $("#province").attr("disabled",false);
                $("#city").attr("disabled",false);
                $("#region").attr("disabled",false);
            }else{
                $("#provinceForm").removeClass("has-error");
                $("#province" ).parent().next().html("");
                $("#cityForm").removeClass("has-error");
                $("#city" ).parent().next().html("");
                $("#regionForm").removeClass("has-error");
                $("#region" ).parent().next().html("");
                $("#province ").get(0).selectedIndex=0;
                $("#province").attr("disabled",true);
                $("#city").attr("disabled",true);
                $("#city ").get(0).selectedIndex=0;
                $("#region").attr("disabled",true);
                $("#region ").get(0).selectedIndex=0;
            }

            $("#province option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == "未选择"){
                    $(this).attr("value","");
                }
                if($(this).val() == $("#selectProvinceValue").val()){
                    $(this).attr("selected",true);
                }
            });
            $('#province').trigger("change");
            $("#city option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == "未选择"){
                    $(this).attr("value","");
                }
                if($(this).val() == $("#selectCityValue").val()){
                    $(this).attr("selected",true);
                }
            });
            $('#city').trigger("change");
            $("#region option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == "未选择"){
                    $(this).attr("value","");
                }
                if($(this).val() == $("#selectRegionValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#industry option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectIndustryValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#nature option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectNatureValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#level option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectLevelValue").val()){
                    $(this).attr("selected",true);
                }
            });


            $("#photo").dropzone({
                url: "fileupload",
                paramName: "files",
                addRemoveLinks: true,
                uploadMultiple:false,
                dictRemoveLinks: "x",
                dictCancelUpload: "x",
                dictRemoveFile:"删除",
                maxFiles: 2,
                maxFilesize: 5,
                previewTemplate:previewTemplate ,
//            autoProcessQueue:false,
                acceptedFiles: ".jpg,.gif,.png", //上传的类型
                init:function(){
                    var selectPhotoValue =  $("#selectphotoValue").val();
                    if(selectPhotoValue!=""){
                        var list = selectPhotoValue.split(",");
                        for(var j= 0;j< list.length; j++){
                            photolist.push(list[j]);
                        }
                    }
                    for(var i=0;i<photolist.length;i++){
                        var mockFile = { name: photolist[i]};
                        this.emit("addedfile", mockFile);
                        this.emit("thumbnail", mockFile, "" +"upload/"+photolist[i]);
                        this.emit("complete", mockFile);
                    }

                    this.on("addedfile", function(file) {
                        //上传文件时触发的事件
                    });
                    this.on("success",function(file,response) {
                        //单个上传完成后触发的方法
                        file.serverName = response.url;
                        photolist.push(file.serverName);
                    });
                    this.on("queuecomplete",function(file) {
//                        validateDiv('photo','photo','validatePhoto');
                    });
                    this.on("removedfile",function(file){
                        //删除文件时触发的方法
//                        validateDiv('photo','photo','validatePhoto');
                        if(file.serverName==undefined){
                            file.serverName=file.name;
                        }
                        for(var i=0;i<photolist.length;i++){
                            if(photolist[i]==file.serverName){
                                photolist.splice(i,1);
                                delPhotoList.push(file.serverName);
                                break;
                            }

                        }

                    });
                }
            });

            function delphotoList(fileName){
                $.ajax({
                    type: 'POST',
                    url: 'filedelete',
                    data: {name: fileName},
                    dataType: 'html',
                    success: function(data){
                        var rep = JSON.parse(data);
//                            if(rep.code == 200)
//                            {
//                                $("#photoCounter").text( "(" + photo_counter + ")");
//                            }

                    }
                });
            }



            var total = $("#contactList").children().length;
            for (var i=0;i<total;i++)
            {
//                validate("name"+i,"name","validateUsername");
                validate2('mobilePhone'+i, 'mobile', {isEdit: false}, 'validateMobile')
                validateSelect('position'+i, 'position', 'validatePosition');
                validate('email'+i, 'email', 'validateEmail');
                validate('qq'+i,'qq','validateQq');
                validate('tel'+i,'tel','validateTel');
            }
            validateSelect('source', 'source', 'validateSource');
            validate('name', 'name', 'validateCompanyName');
            validateSelect('industry', 'industry', 'validateIndustry');
            validateSelect('nature', 'nature', 'validateNature');
            validateSelect('country', 'country', 'validateCountry');
//            validateSelect('province', 'province', 'validateProvince');
//            validateSelect('city', 'city', 'validateCity');
//            validateSelect('region', 'region', 'validateRegion');
//            validate('address', 'address', 'validateAddress');
            validateSelect('level', 'level', 'validateLevel');
        });




        var saveBtnda;
        function saveCustomer(btn) {
            saveBtnda = Ladda.create( btn );
            var userList = new Array();
//            var roles = [];
//            $('input[name="role"]:checked').each(function () {
//                roles.push({id: $(this).val().trim()});
//            });
            $("#contactList").children().each(function(index){
                userName = $(this).find("input[name='name']").val();
                userPosition = $(this).find("select[name='position']").val();
                userPhone = $(this).find("input[name='mobilePhone']").val();
                userEmail = $(this).find("input[name='email']").val();
                userQQ = $(this).find("input[name='qq']").val();
                userTel =  $(this).find("input[name='tel']").val();
                if(userName!=""&&userPhone!="") {
                    userList.push({
                        "name": userName,
                        "position": userPosition,
                        "mobilePhone": userPhone,
                        "email": userEmail,
                        "qq": userQQ,
                        "tel": userTel
                    })
                }
            })
            var p = {
                id: $("#id").val().trim(),
                source: $("#source").val().trim(),
                name: $("#name").val().trim(),
//                companyId: $("#companyId").val().trim(),
                industry: $("#industry").val(),
                nature: $("#nature").val().trim(),
                country:$("#country").val(),
                province:$("#province").val(),
                city:$("#city").val(),
                region:$("#region").val().trim(),
                address:$("#address").val().trim(),
                level:$("#level").val(),
                contactList:userList,
                photo:photolist.toString(),
                state: $("input[name='state']:checked").val()
            };
            console.info(p);
            var a = JSON.stringify(p);
//            if($("#country").val()=="中国"){
//                if($("#province").val()==""||$("#city").val()==""||$("#region").val()==""){
//
//                }



//                if($("#province").val()==""){
//                    $("#provinceForm").addClass("has-error");
//                    $("#province" ).parent().next().html("必须选择所在省份");
//                    $("#province").focus();
//                    if ($("#city").val()==""){
//                        $("#cityForm").addClass("has-error");
//                        $("#city" ).parent().next().html("必须选择所在城市");
//                    }
//                    if($("#region").val()==""){
//                        $("#regionForm").addClass("has-error");
//                        $("#region" ).parent().next().html("必须选择所在区域");
//                    }
//                    return;
//                }else if ($("#city").val()==""){
//                    $("#cityForm").addClass("has-error");
//                    $("#city" ).parent().next().html("必须选择所在城市");
//                    $("#city").focus();
//                    if($("#region").val()==""){
//                        $("#regionForm").addClass("has-error");
//                        $("#region" ).parent().next().html("必须选择所在区域");
//                    }
//                    return;
//                }
//            }

            $.ajax({
                url: 'saveCustomer',
                async: true,
                type: 'POST',
                data: a,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                timeout: 300000,
                beforeSend: function () {
                    saveBtnda.start();
                },
                error: function (result) {
                    saveBtnda.stop();
                    swal("操作失败", "通信错误!", "error");
                },
                success: function (data) {
                    if (data.res == undefined) {
                        saveBtnda.stop();
                        for (var p in data) {
                            var tempField = data[p].field;
                            if(tempField.startsWith("contactList[")){
                                data[p].field= tempField.split(".")[1]+tempField.substring(tempField.indexOf("[")+1,tempField.indexOf("]"));
                            }
                            var tmp = $("#" + data[p].field).parent().next();

                            if (tmp.text() == '') {
//                                if(tempField.startsWith("name")){
//                                    $("#contactForm").css("color","#ed5565");
//                                }
                                $("#" + data[p].field+ "Form").addClass("has-error")
                                var tmp = $("#" + data[p].field).parent().next();
                                tmp.html(data[p].defaultMessage);


                            }
                        }
                    }else if(data.res == 0){
                        saveBtnda.stop();
                        caseList = [];
                        swal("操作失败", data.txt, "error");
                    }else{
                        toastr["success"]('保存成功!');
                        loadPage("customerList",function(){
                            saveBtnda.stop();
                        });
                    }
                }
            });
        }
        /*]]>*/
    </script>
</div>
</html>
