<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="historyModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="width:95%;"  role="document">
        <input type="hidden" name="updateFlg" id="updateFlg" th:value="${historyListFlg}"/>
        <input type="hidden" name="historyListSize" id="historyListSize" th:value="${historyListSize}"/>
        <div class="modal-content">
            <div class="modal-header">
                <h3 >跟进历史</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="form-group" style="overflow-y:scroll;height:300px;">

                                <div class="col-lg-12">
                                    <div class="row">
                                        <!--创建-->
                                        <table th:unless="${historyListFlg}" class="table table-condensed" id="historyList">
                                            <tr>
                                                <td>
                                                    <div id="followDetail0Form">
                                                        <label class="control-label">跟进描述<span
                                                                style="color:#ed5565;">*</span></label>
                                                        <div>
                                                            <input type="text"  name="followDetail" id="followDetail0" class="form-control input-sm" oninput="if(value.length>18)value=value.slice(0,18)"/>
                                                        </div>
                                                        <label class="control-label" style="text-align: left"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id="followTime0Form">
                                                        <label class="control-label">跟进时间<span
                                                                style="color:#ed5565;">*</span></label>
                                                        <div>
                                                            <input type="text" name="followTime" id="followTime0" class="form-control input-sm" maxlength="50" readonly="readonly"/>
                                                        </div>
                                                        <label class="control-label" style="text-align: left"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id="nextTime0Form">
                                                        <label class="control-label">下次跟进时间<span
                                                                style="color:#ed5565;">*</span></label>
                                                        <div>
                                                            <input type="text" name="nextTime" id="nextTime0" class="form-control input-sm" maxlength="50" readonly="readonly"/>
                                                        </div>
                                                        <label class="control-label" style="text-align: left"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" type="button" style="width: 100%;margin-top: 23px;" onclick="add();">增&nbsp;&nbsp;加</button>
                                                </td>
                                            </tr>

                                        </table>
                                        <!--编辑-->
                                        <table th:if="${historyListFlg}" class="table table-condensed" id="historyList">
                                            <tr th:each="history,historyListStat : ${historyList}">
                                                <td>
                                                    <div th:attr="id='followDetail'+${historyListStat.index}+'Form'">
                                                        <label class="control-label" th:if="${historyListStat.index == 0}">跟进描述<span
                                                                style="color:#ed5565;">*</span></label>
                                                        <div>
                                                            <input type="text"  name="followDetail" th:attr="id='followDetail'+${historyListStat.index}" th:value="${history}?${history.followDetail}"
                                                                   class="form-control input-sm" readonly="readonly" oninput="if(value.length>18)value=value.slice(0,18)"/>
                                                        </div>
                                                        <label class="control-label" style="text-align: left"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div th:attr="id='followTime'+${historyListStat.index}+'Form'">
                                                        <label class="control-label" th:if="${historyListStat.index == 0}">跟进时间<span
                                                                style="color:#ed5565;">*</span></label>
                                                        <div>
                                                            <input type="text" name="followTime" th:attr="id='followTime'+${historyListStat.index}" th:value="${history}?${history.followTime}"
                                                                   class="form-control input-sm"  maxlength="50" readonly="readonly"/>
                                                        </div>
                                                        <label class="control-label" style="text-align: left"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div th:attr="id='nextTime'+${historyListStat.index}+'Form'">
                                                        <label class="control-label" th:if="${historyListStat.index == 0}">下次跟进时间<span
                                                                style="color:#ed5565;">*</span></label>
                                                        <div>
                                                            <input type="text" name="nextTime" th:attr="id='nextTime'+${historyListStat.index}" th:value="${history}?${history.nextTime}"
                                                                   class="form-control input-sm"  maxlength="50" readonly="readonly"/>
                                                        </div>
                                                        <label class="control-label" style="text-align: left"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" th:if="${historyListStat.index == 0}" type="button" style="width: 100%;margin-top: 23px;" onclick="add();">增&nbsp;&nbsp;加</button>
                                                    <!--<button class="btn btn-primary btn-sm" th:unless="${historyListStat.index == 0}"  th:attr="onclick='delBtnData(this)'" type="button" style="width: 100%;">删&nbsp;&nbsp;除</button>-->
                                                </td>
                                            </tr>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="removeHistoryinfo();">取消</button>
                <button type="button" class="btn ladda-button btn-primary" onclick="saveHistory(this);"><span class="ladda-label">确定</span></button>
            </div>
        </div>
    </div>
</div>