<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="designer">
    <link th:href="@{99/css/plugins/ladda/ladda-themeless.min.css}" rel="stylesheet"/>
    <script th:src="@{jquery.koala.js}" type="text/javascript"></script>
    <link th:href="@{99/css/plugins/dropzone/dropzone.css}" rel="stylesheet"/>
    <link th:href="@{99/css/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!--&lt;!&ndash; dropzone &ndash;&gt;-->
    <!--<script th:src="@{99/js/plugins/dropzone/dropzone.js}"></script>-->

    <script type="text/javascript">
        /*<![CDATA[*/
        $(function () {
//            initDropzone(0,"");
        })


        /*]]>*/
    </script>


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 th:text="${title}"></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a>主数据管理</a>
                </li>
                <li class="active">
                    <strong>设计师</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="POST" class="form-horizontal">
                            <input type="hidden" name="id" id="id" th:value="${designer}?${designer.id}"/>
                            <input type="hidden" name="selectReferrerValue" id="selectReferrerValue" th:value="${designer}?${designer.referrer}"/>
                            <input type="hidden" name="selectEnglishAbilityValue" id="selectEnglishAbilityValue" th:value="${designer}?${designer.englishAbility}"/>
                            <input type="hidden" name="selectGoodAtAreaValue" id="selectGoodAtAreaValue" th:value="${designer}?${designer.goodAtArea}"/>

                            <input type="hidden" name="selectGoodAtIndustryValue" id="selectGoodAtIndustryValue" th:value="${designer}?${designer.goodAtIndustry}"/>

                            <input type="hidden" name="selectCountryValue" id="selectCountryValue" th:value="${designer}?${designer.country}"/>
                            <input type="hidden" name="selectProvinceValue" id="selectProvinceValue" th:value="${designer}?${designer.province}"/>
                            <input type="hidden" name="selectCityValue" id="selectCityValue" th:value="${designer}?${designer.city}"/>
                            <input type="hidden" name="selectRegionValue" id="selectRegionValue" th:value="${designer}?${designer.region}"/>


                            <input type="hidden" name="selectDesignStyleValue" id="selectDesignStyleValue" th:value="${designer}?${designer.designStyle}"/>
                            <input type="hidden" name="selectPlatformLevelValue" id="selectPlatformLevelValue" th:value="${designer}?${designer.platformLevel}"/>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="referrerForm">
                                <label class="col-sm-2 control-label">推荐人<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="referrer" id="referrer">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${sale.id}" th:text="${sale.name}" th:each="sale:${saleList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="nameForm">
                                <label class="col-sm-2 control-label">设计师中文名<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="name" name="name" type="text"
                                                             class="form-control" maxlength="30" th:value="${designer}?${designer.name}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="nameENForm">
                                <label class="col-sm-2 control-label">设计师英文名</label>
                                <div class="col-sm-4"><input id="nameEN" name="nameEN" type="text"
                                                             class="form-control" maxlength="30" th:value="${designer}?${designer.nameEN}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="mobilePhoneForm">
                                <label class="col-sm-2 control-label">设计师电话<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="mobilePhone" name="mobilePhone" type="number" oninput="if(value.length>11)value=value.slice(0,11)"
                                                             class="form-control" maxlength="11" th:value="${designer}?${designer.mobilePhone}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="passwordForm"><label class="col-sm-2 control-label">密码<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="password" name="password" type="text"
                                                             class="form-control" maxlength="12" th:value="${designer}?${designer.password}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="wechatForm">
                                <label class="col-sm-2 control-label">设计师微信</label>
                                <div class="col-sm-4"><input id="wechat" name="wechat" type="text"
                                                             class="form-control" maxlength="30" th:value="${designer}?${designer.wechat}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="emailForm">
                                <label class="col-sm-2 control-label">设计师QQ邮箱<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="email" name="email" type="text"
                                                             class="form-control" maxlength="50" th:value="${designer}?${designer.email}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>




                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="countryForm">
                                <label class="col-sm-2 control-label">国家<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b location" name="country" id="country">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="provinceForm">
                                <label class="col-sm-2 control-label">省</label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b location" name="province" id="province" disabled="disabled">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="cityForm">
                                <label class="col-sm-2 control-label">城市</label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b location" name="city" id="city" disabled="disabled">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="regionForm">
                                <label class="col-sm-2 control-label">区域</label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="region" id="region" disabled="disabled">

                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="form-group" id="addressForm">
                                <label class="col-sm-2 control-label">地址</label>
                                <div class="col-sm-4"><input id="address" name="address" type="text"
                                                             class="form-control" maxlength="15" th:value="${designer}?${designer.address}" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="englishAbilityForm">
                                <label class="col-sm-2 control-label">英文水平<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="englishAbility" id="englishAbility">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${englishAbility.id}" th:text="${englishAbility.value}" th:each="englishAbility:${englishAbilityList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="goodAtIndustryForm">
                                <label class="col-sm-2 control-label">擅长行业<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="goodAtIndustry" id="goodAtIndustry" multiple="multiple">
                                        <option th:value="${goodAtIndustry.id}" th:text="${goodAtIndustry.value}" th:each="goodAtIndustry:${goodAtIndustryList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="goodAtAreaForm">
                                <label class="col-sm-2 control-label">擅长面积<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="goodAtArea" id="goodAtArea">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${goodAtArea.id}" th:text="${goodAtArea.value}" th:each="goodAtArea:${goodAtAreaList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="form-group" id="designStyleForm">
                                <label class="col-sm-2 control-label">设计风格<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="designStyle" id="designStyle" multiple="multiple">
                                        <option th:value="${designStyle.id}" th:text="${designStyle.value}" th:each="designStyle:${designStyleList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="experienceForm">
                                <label class="col-sm-2 control-label">从业年限<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="experience" name="experience" type="number"
                                                             class="form-control" maxlength="2" th:value="${designer}?${designer.experience}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-4">
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="gender" id="male" value="1" th:checked="${designer}?${designer.gender eq 1}"/>
                                        <label for="male">
                                            男
                                        </label>
                                    </div>
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="gender" id="female" value="2"  th:checked="${designer}?${designer.gender eq 2}:'true'"/>
                                        <label for="female">
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="previousForm">
                                <label class="col-sm-2 control-label">最近上家公司<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="previous" name="previous" type="text"
                                                             class="form-control" maxlength="200" th:value="${designer}?${designer.previous}" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>



                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="birthdayForm">
                                <label class="col-sm-2 control-label">出生日期</label>
                                <div class="col-sm-4" th:if="${designer}" >
                                    <input id="birthday" name="birthday" type="text" readonly="readonly"
                                                             class="form-control" maxlength="200" th:value="${designer}?${designer.birthday}"/>
                                </div>
                                <div class="col-sm-4" th:unless="${designer}" >
                                    <input id="birthday" name="birthday" type="text"
                                           class="form-control" maxlength="200" th:value="${designer}?${designer.birthday}"/>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>


                            <div class="form-group" id="platformLevelForm">
                                <label class="col-sm-2 control-label">平台级别<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="platformLevel" id="platformLevel">
                                        <option value="" selected="selected">未选择</option>
                                        <option th:value="${platformLevel.id}" th:text="${platformLevel.value}" th:each="platformLevel:${platformLevelList}"></option>
                                    </select>
                                </div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="platformCreditLevelForm">
                                <label class="col-sm-2 control-label">平台信用度评价</label>
                                <div class="col-sm-4"><input id="platformCreditLevel" name="platformCreditLevel" type="text"
                                                             class="form-control" maxlength="200" th:value="${designer}?${designer.birthday}"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <!--编辑-->
                            <div id="caseList" th:if="${designer}?${designer.id}" style="background-color: #f8f7f6;border-radius: 4px;padding-top: 15px;padding-bottom: 15px;" >
                                <div th:each="designerCase,designerCaseStat : ${designerCaseList}">
                                    <div class="form-group "  th:attr="id='caseName'+${designerCaseStat.index}+'Form'"><label
                                            class="col-sm-2 control-label">案例名称</label>
                                        <div class="col-sm-4">
                                            <input  th:attr="id='caseName'+${designerCaseStat.index}" name="caseName" type="text"
                                                                     class="form-control" maxlength="10" th:value="${designerCase}?${designerCase.name}"/>
                                        </div>
                                        <label class="col-sm-4 control-label" style="text-align: left;color: red;">*【案例名称】和【案例图片】同时输入才会被保存</label>
                                        <div class="col-sm-1">
                                            <button th:if="${designerCaseStat.index == 0}" onclick="addCase1()" type="button" class="btn ladda-button btn-w-m btn-primary">增&nbsp;&nbsp;加</button>
                                            <button th:unless="${designerCaseStat.index == 0}" th:attr="onclick='delBtnData1('+${designerCaseStat.index}+')'" type="button"  class="btn ladda-button btn-w-m btn-primary">删&nbsp;&nbsp;除</button>
                                        </div>
                                    </div>
                                    <div class="form-group " th:attr="id='casePhoto'+${designerCaseStat.index}+'Form'">
                                        <input th:attr="id='hiddenPhoto'+${designerCaseStat.index}, name='hiddenPhoto'" type='hidden' th:value="${designerCase.photo}" />
                                        <label class="col-sm-2 control-label">案例照片</label>
                                        <div class="col-sm-6 dropzone" th:attr="id='casePhoto'+${designerCaseStat.index}" name="casePhoto">
                                            <div class="am-text-success dz-message">
                                                <!--将文件拖拽到此处或点此打开文件管理器选择文件-->
                                            </div>
                                        </div>
                                        <label class="col-sm-4 control-label" style="text-align: left"></label>
                                    </div>

                                </div>
                                <!--如果编辑的时候没有 就默认显示一个-->
                                <div  th:if="${#lists.isEmpty(designerCaseList)}">
                                    <div class="form-group " id="caseNameForm"><label
                                            class="col-sm-2 control-label">案例名称</label>
                                        <div class="col-sm-4">
                                            <input id="caseName0" name="caseName" type="text"
                                                   class="form-control" maxlength="10"/>
                                        </div>
                                        <label class="col-sm-4 control-label" style="text-align: left;color: red;">*【案例名称】和【案例图片】同时输入才会被保存</label>
                                        <div class="col-sm-1">
                                            <button onclick="addCase1()" type="button"  class="btn ladda-button btn-w-m btn-primary">增&nbsp;&nbsp;加</button>
                                        </div>
                                    </div>
                                    <div class="form-group " id="casePhotoForm">
                                        <label class="col-sm-2 control-label">案例照片</label>
                                        <div class="col-sm-6 dropzone" id="casePhoto0" name="casePhoto">
                                            <div class="am-text-success dz-message">
                                                <!--将文件拖拽到此处或点此打开文件管理器选择文件-->
                                            </div>
                                        </div>
                                        <label class="col-sm-4 control-label" style="text-align: left"></label>
                                    </div>
                                </div>

                            </div>
                            <!--创建-->
                            <div id="caseList" th:unless="${designer}?${designer.id}" style="background-color: #f8f7f6;border-radius: 4px;padding-top: 15px;padding-bottom: 15px;" >
                                <div>
                                    <div class="form-group " id="caseNameForm"><label
                                            class="col-sm-2 control-label">案例名称</label>
                                        <div class="col-sm-4">
                                            <input id="caseName0" name="caseName" type="text"
                                                                     class="form-control" maxlength="10"/>
                                        </div>
                                        <label class="col-sm-4 control-label" style="text-align: left;color:red; ">*【案例名称】和【案例图片】同时输入才会被保存</label>
                                        <div class="col-sm-1">
                                            <button onclick="addCase1()" type="button" class="btn ladda-button btn-w-m btn-primary">增&nbsp;&nbsp;加</button>
                                        </div>
                                    </div>
                                    <div class="form-group " id="casePhotoForm">
                                        <label class="col-sm-2 control-label">案例照片</label>
                                        <div class="col-sm-6 dropzone" id="casePhoto0" name="casePhoto">
                                            <div class="am-text-success dz-message">
                                                <!--将文件拖拽到此处或点此打开文件管理器选择文件-->
                                            </div>
                                        </div>
                                        <label class="col-sm-4 control-label" style="text-align: left"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">用户状态</label>
                                <div class="col-sm-4">
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s1" value="1" th:checked="${customer}?${customer.state eq 1}:'true'"/>
                                        <label for="s1">
                                            可用
                                        </label>
                                    </div>
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s2" value="2" th:checked="${customer}?${customer.state eq 2}"/>
                                        <label for="s2">
                                            锁定
                                        </label>
                                    </div>
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s3" value="3" th:checked="${customer}?${customer.state eq 3}"/>
                                        <label for="s3">
                                            禁用
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="hr-line-dashed"/>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="saveBtn" class="btn ladda-button btn-w-m btn-primary" data-style="zoom-in" type="button" onclick="savedesigner(this);">
                                        <span class="ladda-label">保&nbsp;&nbsp;存</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Image cropper -->
    <!--<script th:src="@{inspinia_admin/js/plugins/cropper/cropper.min.js}"></script>-->
    <!-- Data picker -->
    <script th:src="@{99/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{99/js/plugins/ladda/spin.min.js}"></script>
    <script th:src="@{99/js/plugins/ladda/ladda.min.js}"></script>
    <script th:src="@{99/js/plugins/area/chosen.jquery.min.js}"></script>
    <script th:src="@{99/js/plugins/area/area_chs.js}"></script>
    <script th:src="@{99/js/plugins/area/area.js}"></script>
    <!-- dropzone -->
    <script th:src="@{99/js/plugins/dropzone/dropzone.js}"></script>
    <!-- Select2 -->
    <script th:src="@{99/js/plugins/select2/select2.full.min.js}"></script>

    <script th:src="@{me.js}" type="text/javascript"></script>

    <script type="text/javascript">
        /*<![CDATA[*/
        $('#birthday').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });
        var areaObj = [];
        function initLocation(e){
            var a = 0;
            for (var m in e) {
                areaObj[a] = e[m];
                var b = 0;
                for (var n in e[m]) {
                    areaObj[a][b++] = e[m][n];
                }
                a++;
            }
        }
        _init_area();
        var country = '<option value="" selected="selected">未选择</option>';
        for (var a=0;a<=_areaList.length-1;a++) {
            var objContry = _areaList[a];
            country += '<option value="'+objContry+'" a="'+(a+1)+'">'+objContry+'</option>';
        }
        $("#country").html(country);
        $("#country").change();
        $(function () {
            $("#country").change(function(){
                if($(this).val()=="中国"){
                    $("#province").attr("disabled",false);
                    $("#city").attr("disabled",false);
                    $("#region").attr("disabled",false);
                }else{
                    $("#province ").get(0).selectedIndex=0;
                    $("#province").attr("disabled",true);
                    $("#city").attr("disabled",true);
                    $("#city ").get(0).selectedIndex=0;
                    $("#region").attr("disabled",true);
                    $("#region ").get(0).selectedIndex=0;
                }
            });

            $("#country option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectCountryValue").val()){
                    $(this).attr("selected",true);
                }
            });

            if ($("#country").val()=="中国"){
                $("#province").attr("disabled",false);
                $("#city").attr("disabled",false);
                $("#region").attr("disabled",false);
            }else{
                $("#province ").get(0).selectedIndex=0;
                $("#province").attr("disabled",true);
                $("#city").attr("disabled",true);
                $("#city ").get(0).selectedIndex=0;
                $("#region").attr("disabled",true);
                $("#region ").get(0).selectedIndex=0;
            }

            $("#province option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectProvinceValue").val()){
                    $(this).attr("selected",true);
                }
            });
            $('#province').trigger("change");
            $("#city option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectCityValue").val()){
                    $(this).attr("selected",true);
                }
            });
            $('#city').trigger("change");
            $("#region option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectRegionValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#referrer option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectReferrerValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#englishAbility option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectEnglishAbilityValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#goodAtArea option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectGoodAtAreaValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#platformLevel option").each(function(){
                if($(this).val() == ""){
                    $(this).attr("selected",false);
                }
                if($(this).val() == $("#selectPlatformLevelValue").val()){
                    $(this).attr("selected",true);
                }
            });

            $("#goodAtIndustry").select2({ maximumInputLength: 3 });
            $("#designStyle").select2({ maximumInputLength: 3 });

            var selectGoodAtIndustryValue = $("#selectGoodAtIndustryValue").val();
            if(selectGoodAtIndustryValue && selectGoodAtIndustryValue.indexOf(",") > 0){
                var list = selectGoodAtIndustryValue.split(",");
                var setkey = [];
                for(var i= 0;i< list.length; i++){
                    setkey.push(list[i]);
                }
                $("#goodAtIndustry").val(setkey).trigger('change')
            }else{
                $("#goodAtIndustry").val(selectGoodAtIndustryValue).trigger('change')
            }

            var selectDesignStyleValue = $("#selectDesignStyleValue").val();
            if(selectDesignStyleValue && selectDesignStyleValue.indexOf(",") > 0){
                var list = selectDesignStyleValue.split(",");
                var setkey = [];
                for(var i= 0;i< list.length; i++){
                    setkey.push(list[i]);
                }
                $("#designStyle").val(setkey).trigger('change')
            }else{
                $("#designStyle").val(selectDesignStyleValue).trigger('change')
            }

            //循环遍历案例照片
            var total = $("#caseList").children().length;
//            $("#caseCount").val(total);
            for (var i=0;i<total;i++){
                initDropzone(i);
            }
        })
        /*]]>*/
    </script>

    <script type="text/javascript">
        /*<![CDATA[*/

        var previewTemplate = "<div class=\"dz-preview dz-file-preview\">\n  " +
//            "  <div class=\"dz-details\">\n" +
//            "    <img data-dz-thumbnail style='width: 300px;height: 300px;'/>\n" +
//            "  </div>\n" +
            "<div class=\"dz-image\"><img data-dz-thumbnail style='width: 120px;height: 120px;'/></div>\n  " +
            "<div class=\"dz-progress\"><span class=\"dz-upload\" data-dz-uploadprogress></span></div>\n  " +
            "<div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n  " +
            "<div class=\"dz-success-mark\">\n    " +
            "</div>" +
            "</div>";

        var casephoto=[];
        var delFilesList = [];
        var total = 1;
        function addCase1(){

            var row =
                " <div>"
                +"<div id='line"+total+ "' class='hr-line-dashed'></div>"
                +"<div class='form-group ' id='caseName"+total+'Form' +"'>"
                +"<label class='col-sm-2 control-label'>案例名称</label> "
                +"<div class='col-sm-4'><input id='caseName"+total+ "' name='caseName' type='text' "
                +"class='form-control' maxlength='10'/></div> "
                +" <label class='col-sm-4 control-label' style='text-align: left;color: red;'>*【案例名称】和【案例图片】同时输入才会被保存</label> "
                +" <div class='col-sm-1'><button onclick='delBtnData1("+total+ ")' id='casedel"+total+ "'  type='button' class='btn ladda-button btn-w-m btn-primary'>删&nbsp;&nbsp;除</button></div>"
                +"</div>"
                +"<div class='form-group ' id='casePhoto"+total+ 'Form' +"'>"
                +"<label class='col-sm-2 control-label'>案例照片</label>"
                +"<div class='col-sm-6 dropzone' id='casePhoto"+total+ "' name='casePhoto'>"
                +"<div class='am-text-success dz-message'>"
//                +"将文件拖拽到此处或点此,打开文件管理器选择文件"
                +"</div>"
                +"</div>"
                +"<label class='col-sm-4 control-label' style='text-align: left'></label>"
                +"</div>"

                +"</div>";
            $("#caseList").append(row);

            initDropzone(total);
            total++;
        }

        function initDropzone(index) {
            $("#casePhoto" + index).dropzone({
                url: "fileupload",
                paramName: "files",
                addRemoveLinks: true,
                uploadMultiple: false,
                dictRemoveLinks: "x",
                dictCancelUpload: "x",
                maxFiles: 6,
                maxFilesize: 5,
                previewTemplate: previewTemplate,
                acceptedFiles: ".jpg,.gif,.png", //上传的类型
//                createImageThumbnails:true,
//                thumbnailWidth:120,
//                thumbnailHeight:120,
                init: function () {
                     
                    if(casephoto[index] == undefined){
                        var tempArray = [];
                        casephoto[index] = tempArray;
                    }
                    var hiddenPhoto = $("#hiddenPhoto"+index).val();
                    if(hiddenPhoto && hiddenPhoto != undefined){
                        var photo= hiddenPhoto.split(",");
                        for (var j=0;j<photo.length;j++) {
                            casephoto[index].push(photo[j]);
                            var mockFile = {
                                name: photo[j],
                            };
                            this.emit("addedfile", mockFile);
                            this.emit("thumbnail", mockFile, "upload/" + photo[j]);
                            this.emit("complete", mockFile);
                        }
                    }


                    this.on("addedfile", function (file) {
                        //上传文件时触发的事件
                    });
                    this.on("success", function (file, response) {
                        debugger

                        //单个上传完成后触发的方法
                        file.serverName = response.url;
                        if (casephoto[index] == undefined) {
                            var tempArray = [];
                            casephoto[index] = tempArray;

                        }
                        casephoto[index].push(file.serverName);

                    });
                    this.on("queuecomplete", function (file) {
                        //上传完成后触发的方法
//                        $("#caseCount").val(casephoto.length);
                    });
                    this.on("removedfile", function (file) {
                        debugger
                        if(file.serverName==undefined){
                            file.serverName=file.name;
                        }
                        for(var j=0;j<casephoto[index].length;j++){
                            if(casephoto[index][j]==file.serverName){
                                casephoto[index].splice(j,1);
                                break;
                            }
                        }

                        delFilesList.push(file.serverName);
                    });
                }
            });
        }

        function delBtnData1(total){
            debugger
            $("#caseName"+total+"Form").remove();
            $("#line"+total).remove();
            $("#casePhoto"+total+"Form").remove();
        }

        $("#projectManager").addClass("active");

        validateSelect('referrer', 'referrer', 'validateReferrer');
        validate('name', 'name', 'validateUserName');
        validate2('mobilePhone', 'mobile', {isEdit: false}, 'validateMobile');
        validate('password', 'password', 'validatePassword');
        validate('email', 'email', 'validateEmail');

        validateSelect('englishAbility', 'englishAbility', 'validateEnglishAbility');
        validateSelect('country', 'country', 'validateCountry');

        validate('previous', 'previous', 'validatePrevious');
        validate('experience', 'experience', 'validateExperience');
        validateMultipleSelect('goodAtIndustry', 'goodAtIndustry', 'validateGoodAtIndustry');
        validateSelect('goodAtArea', 'goodAtArea', 'validateGoodAtArea');

        validateSelect('platformLevel', 'platformLevel', 'validatePlatformLevel');
        validateMultipleSelect('designStyle', 'designStyle', 'validateDesignStyle');

        var caseList = new Array();

        var saveBtnda;
        function savedesigner(btn) {
            saveBtnda = Ladda.create(btn);

            debugger
            $("#caseList").children().each(function(index){
                caseName = $(this).find("input[name='caseName']").val();
                debugger
                if(casephoto[index] && casephoto[index] != undefined){
                    casePhoto = casephoto[index].toString();
                    caseList.push({
                        "name":caseName,
                        "photo":casePhoto
                    })
                }
            })
            var p = {
                id: $("#id").val().trim(),
                referrer: $("#referrer").val().trim(),
                name: $("#name").val().trim(),
                nameEN: $("#nameEN").val().trim(),
                mobilePhone: $("#mobilePhone").val().trim(),
                password: $("#password").val(),
                wechat: $("#wechat").val().trim(),
                email: $("#email").val().trim(),
                englishAbility: $("#englishAbility").val().trim(),

                country: $("#country").val().trim(),
                province: $("#province").val().trim(),
                city: $("#city").val().trim(),
                region: $("#region").val().trim(),
                address: $("#address").val().trim(),
                birthday: $("#birthday").val().trim(),
                previous: $("#previous").val().trim(),
                experience: $("#experience").val().trim(),
                goodAtIndustry: $("#goodAtIndustry").val().toString().trim(),
                goodAtArea: $("#goodAtArea").val().trim(),

                gender: $("input[name='gender']:checked").val(),
                designStyle: $("#designStyle").val().toString().trim(),
                platformLevel: $("#platformLevel").val().trim(),
                platformCreditLevel: $("#platformCreditLevel").val().trim(),

                caseList:caseList,

                state: $("input[name='state']:checked").val()
            }
            var a = JSON.stringify(p);
            $.ajax({
                url: 'saveDesigner',
                async: true,
                type: 'POST',
                data: a,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                timeout: 300000,
                beforeSend: function () {
                    saveBtnda.start();
                },
                error: function (result) {
                    alert("通信错误！");
                    caseList = [];
                    saveBtnda.stop();
                },
                success: function (data) {
                    if (data.res == undefined) {
                        saveBtnda.stop();
                        for (var p in data) {
                            var tmp = $("#" + data[p].field).parent().next();

                            if (tmp.text() == '') {
                                $("#" + data[p].field + "Form").addClass("has-error")
                                var tmp = $("#" + data[p].field).parent().next();
                                tmp.html(data[p].defaultMessage);
                            }
                        }
                    }else if(data.res == 0){
                        saveBtnda.stop();
                        caseList = [];
                        swal("操作失败", data.txt, "error");
                    }else{
                        loadPage("designerList",function(){
                            saveBtnda.stop();
                        });
                        if (delFilesList && delFilesList != null){
                            for (var i= 0; i < delFilesList.length ; i ++){
                                delFileList(delFilesList[i]);
                            }
                        }
                    }
                }
            });

            function delFileList(fileName) {
                $.ajax({
                    type: 'POST',
                    url: 'filedelete',
                    data: {name: fileName},
                    dataType: 'html',
                    success: function (data) {
                        var rep = JSON.parse(data);
                        if (rep.code == 200) {
//                                    $("#caseCount").val(casephoto.length);
                        }
                    }
                });
            }
        }
        /*]]>*/
    </script>
</div>
</html>
