<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="quotationDownLoad">
    <link th:href="@{99/css/plugins/ladda/ladda-themeless.min.css}" rel="stylesheet"/>
    <style type="text/css">
        #availableSupplierstable_length  select {
            padding-top: 3px;
        }
    </style>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 >报表下载</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a>报表下载</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-12">
                <form method="POST" class="form-horizontal form-inline" id='acReportForm'>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">业绩管理<span style="color:#ed5565;"></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="startTime" class="control-label">开始时间</label>
                                <input type="text"  id="startTime" name="startTime" readonly="readonly" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="endTime" class="control-label">结束时间</label>
                                <input type="text"  id="endTime" name="endTime" readonly="readonly" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" type="button" style="width: 100%;margin-top: 23px;" onclick="query();">下&nbsp;&nbsp;载</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form method="POST" class="form-horizontal form-inline" id='orReportForm'>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">订单追踪<span style="color:#ed5565;"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="startTime2" class="control-label">开始时间</label>
                                    <input type="text"  id="startTime2" name="startTime2" readonly="readonly" class="form-control input-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="endTime2" class="control-label">结束时间</label>
                                    <input type="text"  id="endTime2" name="endTime2" readonly="readonly" class="form-control input-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="button" style="width: 100%;margin-top: 23px;" onclick="query2();">下&nbsp;&nbsp;载</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form method="POST" class="form-horizontal form-inline" id='customerForm'>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">客户管理<span style="color:#ed5565;"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="startTime" class="control-label">开始时间</label>
                                    <input type="text"  id="startTime3" name="startTime3" readonly="readonly" class="form-control input-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="endTime" class="control-label">结束时间</label>
                                    <input type="text"  id="endTime3" name="endTime3" readonly="readonly" class="form-control input-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="button" style="width: 100%;margin-top: 23px;" onclick="query3();">下&nbsp;&nbsp;载</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Data picker -->
    <script th:src="@{99/js/plugins/datapicker/bootstrap-datepicker.js}"></script>

    <script th:src="@{99/js/plugins/ladda/spin.min.js}"></script>
    <script th:src="@{99/js/plugins/ladda/ladda.min.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/



        $(function () {
            datepickerInit("startTime");
            datepickerInit("endTime");
            datepickerInit("startTime2");
            datepickerInit("endTime2");
            datepickerInit("startTime3");
            datepickerInit("endTime3");
        });
        function datepickerInit(id) {
            $('#' + id).datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "yyyy-mm-dd",
                language: 'cn',
            });
        }
        /**
         *
         * 获取当前时间
         */
        function p(s) {
            return s < 10 ? '0' + s: s;
        }

        var myDate = new Date();
        //获取当前年
        var year=myDate.getFullYear();
        //获取当前月
        var month=myDate.getMonth()+1;
        //获取当前日
        var date=myDate.getDate();
        var now = year+'-'+p(month)+"-"+p(date);//+" "+p(h)+':'+p(m)+":"+p(s);
        $('#startTime').val(now);
        $('#endTime').val(now);

        $('#startTime2').val(now);
        $('#endTime2').val(now);

        $('#startTime3').val(now);
        $('#endTime3').val(now);

        function query(){
            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();
//            if(startTime == "" || endTime == ""){
//                sweetAlert("开始时间和结束时间必须选择");
//                return ;
//            }
//            if(!checkEndTime(startTime,endTime)){
//                sweetAlert("结束时间必须晚于开始时间！");
//                return;
//            }

            $('#acReportForm').attr('action', "/performanceDownLoad");
            $("#acReportForm").submit();
        }

        function query2(){
            var startTime = $("#startTime2").val();
            var endTime = $("#endTime2").val();
//            if(startTime == "" || endTime == ""){
//                sweetAlert("开始时间和结束时间必须选择");
//                return ;
//            }
//            if(!checkEndTime(startTime,endTime)){
//                sweetAlert("结束时间必须晚于开始时间！");
//                return;
//            }

            $('#orReportForm').attr('action', "/orderTrackingDownLoad");
            $("#orReportForm").submit();
        }

        function query3(){
            var startTime = $("#startTime3").val();
            var endTime = $("#endTime3").val();
//            if(startTime == "" || endTime == ""){
//                sweetAlert("开始时间和结束时间必须选择");
//                return ;
//            }
//            if(!checkEndTime(startTime,endTime)){
//                sweetAlert("结束时间必须晚于开始时间！");
//                return;
//            }

            $('#customerForm').attr('action', "/customerDownLoad");
            $("#customerForm").submit();
        }
        function checkEndTime(startTime,endTime){
            var startTime=startTime;
            var start=new Date(startTime.replace("-", "/").replace("-", "/"));
            var endTime=endTime;
            var end=new Date(endTime.replace("-", "/").replace("-", "/"));
            if(end<start){
                return false;
            }
            return true;
        }

        /*]]>*/
    </script>
</div>
</html>
