<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:substituteby="link::head"></head>

<body>
<div id="wrapper">
    <nav th:substituteby="nav::nav"/>

    <div id="page-wrapper" class="gray-bg dashbard-1"  style="background: #e5e5e5;">
        <div th:substituteby="top::top"/>

        <!--<div th:substituteby="${page}::${frag}"/>-->
        <div id="main"></div>

    </div>
</div>
<script th:src="@{99/js/plugins/metisMenu/jquery.metisMenu.js}" type="text/javascript"></script>
<script th:src="@{99/js/plugins/slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>

<script th:src="@{99/js/inspinia.js}" type="text/javascript"></script>
<script th:src="@{99/js/plugins/pace/pace.min.js}" type="text/javascript"></script>

<script th:src="@{99/js/plugins/dataTables/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{99/js/plugins/dataTables/dataTables.bootstrap.min.js}" type="text/javascript"></script>

<script th:src="@{me.js}" type="text/javascript"></script>



</body>
</html>
