<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="nav" class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" style="width: 80px;height: 80px;" th:src="${user.avatar}"/>
                     </span>
                    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
                            <span class="clear">
                                <span class="block m-t-xs" style="color: #eee">
                                    <strong class="font-bold"  th:text="'欢迎您，'+${user.name}"></strong>
                                </span>
                            </span>
                        <!--</a>-->
                    <!--<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/logout">Logout</a></li>
                    </ul>-->
                </div>
                <div class="logo-element">
                    鼎世CRM
                </div>
            </li>

            <li sec:authorize-url="/systemSetting">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">系统设置</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!--<li><a href="index.html"><i class="fa fa-user-o"></i>门店管理</a></li>-->
                    <li id="roleList" sec:authorize-url="/roleList"><a href="javascript:loadPage('roleList')"><i class="fa fa-user-o"></i>角色管理</a></li>
                    <li id="userList" sec:authorize-url="/userList"><a href="javascript:loadPage('userList')"><i class="fa fa-user-secret"></i>用户管理</a></li>
                    <li id="projectManagerIndex" sec:authorize-url="/projectManagerIndex"><a href="javascript:loadPage('projectManagerIndex')"><i class="fa fa-user-secret"></i>项目经理</a></li>
                    <li id="salesList" sec:authorize-url="/salesList"><a href="javascript:loadPage('salesList')"><i class="fa fa-user-secret"></i>供应商-销售</a></li>
                    <li id="availableSuppliersList" sec:authorize-url="/availableSuppliersList"><a href="javascript:loadPage('availableSuppliersList')"><i class="fa fa-user-secret"></i>可用供应商列表</a></li>
                    <li id="projectInfoList" sec:authorize-url="/projectInfoList"><a href="javascript:loadPage('projectInfoList')"><i class="fa fa-user-secret"></i>产品信息维护</a></li>
                </ul>
            </li>

            <li sec:authorize-url="/systemSetting">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">数据处理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!--<li><a href="index.html"><i class="fa fa-user-o"></i>门店管理</a></li>-->
                    <li id="customerList" sec:authorize-url="/customerList"><a href="javascript:loadPage('customerList')"><i class="fa fa-user-o"></i>客户</a></li>
                    <li id="activities" sec:authorize-url="/activities"><a href="javascript:loadPage('activities')"><i class="fa fa-user-secret"></i>市场活动</a></li>

                </ul>
            </li>

            <li sec:authorize-url="/systemSetting">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">供应商管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!--<li><a href="index.html"><i class="fa fa-user-o"></i>门店管理</a></li>-->
                    <li id="factoryList" sec:authorize-url="/factoryList"><a href="javascript:loadPage('factoryList')"><i class="fa fa-user-o"></i>供应商-工厂</a></li>
                    <li id="designerList" sec:authorize-url="/designerList"><a href="javascript:loadPage('designerList')"><i class="fa fa-user-secret"></i>供应商-设计师</a></li>

                </ul>
            </li>
        </ul>

    </div>
</nav>
</html>