<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="nav" class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" style="width: 80px;height: 80px;" th:src="${user.avatar}"/>
                     </span>
                    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
                            <span class="clear">
                                <span class="block m-t-xs" style="color: #eee">
                                    <strong class="font-bold"  th:text="'欢迎您，'+${user.name}"></strong>
                                </span>
                            </span>
                        <!--</a>-->
                    <!--<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/logout">Logout</a></li>
                    </ul>-->
                </div>
                <div class="logo-element">
                    鼎世CRM
                </div>
            </li>

            <li sec:authorize-url="/systemSetting">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">系统设置</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!--<li><a href="index.html"><i class="fa fa-user-o"></i>门店管理</a></li>-->
                    <li id="roleList" sec:authorize-url="/roleList"><a href="javascript:loadPage('roleList')"><i class="fa fa-user-o"></i>角色管理</a></li>
                    <li id="userList" sec:authorize-url="/userList"><a href="javascript:loadPage('userList')"><i class="fa fa-user-secret"></i>用户管理</a></li>
                    <li id="paramList" sec:authorize-url="/paramList"><a href="javascript:loadPage('paramList')"><i class="fa fa-user-secret"></i>角色配置</a></li>
                </ul>
            </li>

            <li sec:authorize-url="/systemSetting">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">主数据管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="customerList" sec:authorize-url="/customerList"><a href="javascript:loadPage('customerList')"><i class="fa fa-user-o"></i>客户</a></li>
                    <li id="activityList" sec:authorize-url="/activityList"><a href="javascript:loadPage('activityList')"><i class="fa fa-user-secret"></i>市场活动</a></li>
                    <li id="factoryList" sec:authorize-url="/factoryList"><a href="javascript:loadPage('factoryList')"><i class="fa fa-user-o"></i>供应商-工厂</a></li>
                    <li id="designerList" sec:authorize-url="/designerList"><a href="javascript:loadPage('designerList')"><i class="fa fa-user-secret"></i>供应商-设计师</a></li>

                    <li id="projectManagerList" sec:authorize-url="/projectManagerList"><a href="javascript:loadPage('projectManagerList')"><i class="fa fa-user-secret"></i>供应商-项目经理</a></li>
                    <li id="saleList" sec:authorize-url="/saleList"><a href="javascript:loadPage('saleList')"><i class="fa fa-user-secret"></i>供应商-销售</a></li>
                    <li id="availableSuppliersList" sec:authorize-url="/availableSuppliersList"><a href="javascript:loadPage('availableSuppliersList')"><i class="fa fa-user-secret"></i>可用供应商列表</a></li>
                    <li id="productInfoList" sec:authorize-url="/productInfoList"><a href="javascript:loadPage('productInfoList')"><i class="fa fa-user-secret"></i>产品信息维护</a></li>
                    <li id="vendorAppointmentList" sec:authorize-url="/vendorAppointmentList"><a href="javascript:loadPage('vendorAppointmentList')"><i class="fa fa-user-secret"></i>供应商空闲时间维护</a></li>
                    <li id="exhibitionList" sec:authorize-url="/exhibitionList"><a href="javascript:loadPage('exhibitionList')"><i class="fa fa-user-secret"></i>展馆维护</a></li>
                    <li id="audienceList" sec:authorize-url="/audienceList"><a href="javascript:loadPage('audienceList')"><i class="fa fa-user-secret"></i>观众维护</a></li>
                    <li id="dictionaryList" sec:authorize-url="/dictionaryList"><a href="javascript:loadPage('dictionaryList')"><i class="fa fa-user-secret"></i>字典管理</a></li>

                </ul>
            </li>
            <li sec:authorize-url="/systemSetting">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">业务数据管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="projectList" sec:authorize-url="/projectList"><a href="javascript:loadPage('projectList')"><i class="fa fa-user-secret"></i>项目</a></li>
                    <li id="contractList" sec:authorize-url="/contractList"><a href="javascript:loadPage('contractList')"><i class="fa fa-user-secret"></i>合同</a></li>
                    <li id="quotationList" sec:authorize-url="/quotationList"><a href="javascript:loadPage('quotationList')"><i class="fa fa-user-secret"></i>报价单</a></li>
                </ul>
            </li>
            <li sec:authorize-url="/systemSetting">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">报表下载</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="quotationDownLoadIndex" sec:authorize-url="/projectList"><a href="javascript:loadPage('quotationDownLoadIndex')"><i class="fa fa-user-secret"></i>报价单</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
</html>