<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="salesEdit">
    <!--<link th:href="@{inspinia_admin/css/plugins/cropper/cropper.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{inspinia_admin/css/plugins/select2/select2.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{inspinia_admin/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet"/>-->
    <link th:href="@{inspinia_admin/css/plugins/ladda/ladda-themeless.min.css}" rel="stylesheet"/>
    <script th:src="@{jquery.koala.js}" type="text/javascript"></script>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>销售</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a>系统设置</a>
                </li>
                <li class="active">
                    <strong>销售</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="POST" class="form-horizontal">
                            <input type="hidden" name="id" id="id" th:value="${user}?${user.id}"/>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" id="nameForm"><label class="col-sm-2 control-label">销售姓名<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="salesName" name="salesName" type="text" class="form-control"
                                                             maxlength="30" /></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">销售代码<span
                                        style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="region">
                                        <option value="" selected="selected">未选择</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" ><label class="col-sm-2 control-label">销售ID<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="salesId" name="salesId" type="text"
                                                             class="form-control" maxlength="30"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group" ><label class="col-sm-2 control-label">销售电话<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="salesPhone" name="salesPhone" type="text"
                                                             class="form-control" maxlength="30"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" ><label class="col-sm-2 control-label">销售QQ邮箱<span
                                    style="color:#ed5565;">*</span></label>
                                <div class="col-sm-4"><input id="salesPhone" name="salesPhone" type="text"
                                                             class="form-control" maxlength="30"/></div>
                                <label class="col-sm-4 control-label" style="text-align: left"></label>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-4">
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s1" value="1" th:checked="${user}?${user.state eq 1}:'true'"/>
                                        <label for="s1">
                                            可用
                                        </label>
                                    </div>
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s2" value="2" th:checked="${user}?${user.state eq 2}"/>
                                        <label for="s2">
                                            锁定
                                        </label>
                                    </div>
                                    <div class="radio radio-inline radio-info">
                                        <input type="radio" name="state" id="s3" value="3" th:checked="${user}?${user.state eq 3}"/>
                                        <label for="s3">
                                            禁用
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"/>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="saveBtn" class="btn ladda-button btn-w-m btn-primary" data-style="zoom-in" type="button" onclick="saveSales(this);">
                                        <span class="ladda-label">保&nbsp;&nbsp;存</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Image cropper -->
    <!--<script th:src="@{inspinia_admin/js/plugins/cropper/cropper.min.js}"></script>-->
    <!-- Data picker -->
    <script th:src="@{99/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{99/js/plugins/ladda/spin.min.js}"></script>
    <script th:src="@{99/js/plugins/ladda/ladda.min.js}"></script>

    <!-- Select2 -->
    <!--<script th:src="@{inspinia_admin/js/plugins/select2/select2.full.min.js}"></script>-->

    <!-- Chosen -->
    <!--<script th:src="@{inspinia_admin/js/plugins/chosen/chosen.jquery.js}"></script>-->
    <script th:src="@{me.js}" type="text/javascript"></script>

    <script type="text/javascript">
        /*<![CDATA[*/
        $('#birthday').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: 'cn',
        });

        function saveSales(btn) {
        }
        /*]]>*/
    </script>
</div>
</html>
