<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="top" class="row border-bottom" style="border-bottom: solid 1px #d5d5d5;">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-warning " href="#"><i class="fa fa-bars"></i>
            </a>

            <strong class="navbar-minimalize minimalize-styl-2 font-bold"
                    style="font-size: 16px; margin-left: 30px; ">鼎世CRM</strong>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> 退出
                </a>
            </li>
        </ul>
    </nav>
</div>
</html>